[2016-04-02 10:34] obazoud commented on #309
@carlessistare make a pull request ;)

[2016-04-02 14:22] #84 closed

[2016-04-02 14:23] #103 closed

[2016-04-02 14:29] hyperlink commented on #200
Should be fixed in #281

[2016-04-02 14:29] #200 closed

[2016-04-02 14:51] sumpton commented on #344
We switched to
https://github.com/oleksiyk/kafka
for the new features.

[2016-04-02 15:30] estliberitas commented on #309
@carlessistare CONTRIBUTING.md is created especially for this case

[2016-04-02 16:58] carlessistare commented on #309
@estliberitas I let you merge this PR (https://github.com/SOHU-Co/kafka-node/pull/346) with an initial CONTRIBUTING.md file, if it is ok

[2016-04-02 17:01] estliberitas commented on #309
@carlessistare got some questions already

[2016-04-03 18:31] DrMegavolt commented on #273
+1, snappy requires gyp rebuild, and it will not work on docker node:slim image.
This dependency forces to use huge full image node:latest

[2016-04-04 13:43] milashenko commented on #273
+1

[2016-04-04 15:31] hyperlink commented on #273
So I found [codependency](https://www.npmjs.com/package/codependency) module that will let you do optional modules but I don't have any experience with it and don't how well it works in practice.

Is there another way to do this and how do other projects include optional modules?

[2016-04-04 19:42] hyperlink commented on #273
I have a solution for this. Hope to get a PR for review soon.

[2016-04-04 21:22] hyperlink commented on #339
@ericdolson looks like a bug in the documentation. All the options mirror the defaults except for `fetchMaxBytes`. And according to issue #192 there's a bit of tweaking to the options to get `kafka-node` to work with each use case.  This should also be documented. Interested in submitting a PR? :)

[2016-04-05 04:09] baolinCloud commented on #345
fetch(payloads, cb)

{
   topic: 'topicName',
   partition: 0, //default 0
   // time:
   // Used to ask for all messages before a certain time (ms), default Date.now(),
   // Specify -1 to receive the latest offsets and -2 to receive the earliest available offset.
   time: Date.now(),
   maxNum: 1 //default 1
}

what does maxNum mean?

[2016-04-05 06:24] #344 closed

[2016-04-05 14:25] sunkuo opened #348 "Does kafka-node support kafka 0.9+"

[2016-04-05 14:50] hyperlink commented on #348
See #344

[2016-04-05 14:50] #348 closed

[2016-04-06 06:55] sunkuo opened #349 "Can i consumer message one by one ?"
Now , i found that kafka-node will receive message on "message" event . But i want to handle a message ,then to fetch the next message ,not auto fetch . How to make it ?

[2016-04-06 07:08] baolinCloud opened #350 "[kafka-node 0.3.2] When I restart kafka-node high-level consumer, consumer fetch messges with offset 0"
Each  time  I restart kafka-node high-level consumer, I can see the error log from the server as belows:

ERROR [KafkaApi-0] Error when processing fetch request for partition [test,0] offset 0 from consumer with correlation id 66276 (kafka.server.KafkaApis)
kafka.common.OffsetOutOfRangeException: Request for offset 0 but we only have log segments in the range 45503 to 51197.
        at kafka.log.L

[2016-04-07 14:11] hyperlink commented on #349
Each fetch can grab more than one message so the only way to process one message at a time is to `pause()` after the first message and then use something like `async.queue` to process one at a time and `resume()` after finished processing all the messages.

[2016-04-07 16:04] #273 closed

[2016-04-07 16:07] hyperlink commented on #202
closing since snappy is optional now.

[2016-04-07 16:07] #202 closed

[2016-04-07 16:08] hyperlink commented on #217
closing since snappy is optional now.

[2016-04-07 16:08] #217 closed

[2016-04-07 16:09] hyperlink commented on #248
I just merged code making snappy optional. closing.

[2016-04-07 16:09] #248 closed

[2016-04-07 18:35] hyperlink commented on #332
Calling close on your consumer or producer will call close on the client.

[2016-04-07 18:35] #332 closed

[2016-04-08 06:41] sunkuo commented on #349
Thank you for your Suggestion. I found that when i call pause() as soon as i receive the first message , But i still receive some other message on event "message" .  Can i just receive one message with the help of pause and resume ?

[2016-04-08 06:47] sunkuo opened #351 "How can i fetch a message from kafka , not receive messages on event "message" passivitily?"

[2016-04-08 14:02] hyperlink commented on #349
pause and resume controls the fetch loop. it doesn't provide fine grained control with message events. If you are sure of the size of your messages you can tweak the fetch size to limit the number of messages per fetch but it could be a tricky thing to get right.

[2016-04-08 14:10] hyperlink commented on #351
@sunkuo  lets keep your discussion about this in #349.

[2016-04-08 14:10] #351 closed

[2016-04-08 14:15] hyperlink commented on #318
PR #314 has been merged. Closing.

[2016-04-08 14:15] #318 closed

[2016-04-11 06:24] sunkuo commented on #351
ok

[2016-04-11 19:41] hyperlink commented on #339
Noticed kafka console consumer will throw an error if the message being fetched exceeds maxBytes. It would be nice if `kafka-node` could do something like that instead of failing silently.

[code]

[2016-04-14 11:26] baolinCloud commented on #98
@justjv 在rebalance的时候，取的offset也和server端的相差较大，同样会重复消费。这里你们是如何解决的?
https://github.com/SOHU-Co/kafka-node/blob/master/lib/highLevelConsumer.js#L115

[2016-04-14 12:35] baolinCloud commented on #345
https://github.com/SOHU-Co/kafka-node/blob/master/lib/highLevelConsumer.js#L109

I found that the response of fetchOffset function is not the max offset on kafka server, which results in the reconsume the messages.

How can i fetch the max offset when consumer rebalanced?

[2016-04-14 18:36] jakebarnett opened #353 "Is there a way to get the logSize of a partition?"
Is there a way to fetch the logSize of a partition, or is there a way to start consuming from the newest message on the partition?

[2016-04-19 09:16] itamarwe opened #354 "HighLevelProducer with KeyedPartitioner fails on first send"
When using `KeyedParitioner` with the `HighLevelProducer` the first send fails with
[code]

Consecutive sends work perfectly.

[2016-04-20 14:11] vikramgoyal2012 opened #355 "kafka-node installation error - Windows"
Hi,
When I am trying to install kafka-node module on my windows machine, it is giving me the following error:

node\node_modules\snappy

'.' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! weird error 1
npm ERR! not ok code 0

Any idea how this can be fixed?

[2016-04-20 16:21] hyperlink commented on #355
There's a compile step for snappy using [node-gyp](https://github.com/nodejs/node-gyp). Make sure it's installed since this is possibly the failure. The next update of the module should make snappy optional (it hasn't been published to npm yet).

[2016-04-20 20:23] jakepearson opened #356 "Fail to parse out broker configuration"
Good afternoon. I am having trouble connecting to my office's kafka cluster. I started with code like this:

[code]

When I run my node server I get the following output:

[code]

I took a look at the source code of `zookeeper.js` and it is reading from `zookeeper` at `/brokers/id/3`. `Zookeeper` returns the following output:

[code]

So my broker isn't defined a `json` document. Is there a way to

[2016-04-21 08:40] estliberitas commented on #355
@vikramgoyal2012 Node version? I'm wondering, maybe this should be addressed to snappy developers. Because if this is error in snappy build process, we only can create PR which fixes the issue.

[2016-04-21 09:40] vikramgoyal2012 commented on #355
@estliberitas : Node version is v0.10.23
@hyperlink : I tried installing snappy as well. That too, is giving an error on windows.

[2016-04-23 00:35] baolinCloud opened #357 "[question] when set maxNum to 2 to get offsets, I get 2 offsets. How kafka-node get the 2 offsets? And what does the 2 offsets mean?"
I set the time to -1, maxNum to 2 ; and I test in 3 kafka broker.

I found that maxNum may be the number of offsets results, because I got 2 results of offsets if I set maxNum to 2, and I got 1 offset by setting maxNum to 1.

what's the relationship between the 2 offsets? I found that the max offset is corresponding to the zk server, But how you get the other offset?

[2016-04-26 14:44] eugeneware commented on #354
Yeah. I'm getting the same error no matter what I do.

[2016-04-26 14:51] eugeneware commented on #354
The random partitioner and default parttitioners work. `random` and `keyed` both fail with the `BrokerNotAvailableError`.

[2016-04-26 15:28] itamarwe commented on #354
Only for the first message, though.

[2016-04-26 15:54] shpros commented on #334
Is there a target release or date (month, quarter, year) for this issue?

[2016-04-27 16:26] krishnateja262 commented on #316
I am having the same problem. @ansgarS were you able to find a solution for it?

[2016-04-28 20:21] saurako opened #358 "Support for Kafka 0.9.0.1"
Does this module support or has been tested to work well with the latest version of Kafka: http://kafka.apache.org/documentation.html

The documentation only mentions versions 0.8.1 and later.

[2016-04-29 10:03] rtorrero commented on #90
Using the suggested handler, with a small modification fixed the issue for me:
⋅⋅* Add a connection.close() on the callback
⋅⋅* Put the process.exit() in the connection.close() callback.

[2016-04-29 19:04] cantidio opened #359 "Error while producing messages"
It seems the value is undefined and is not being catched by the code before it, which checks for null only.

[code]
This results on this error when I run the example provided on the readme.
[code]

When I fixed this check, everything works as expected.

[2016-04-30 20:02] #359 closed

[2016-05-02 10:08] itayB opened #361 "enum keyed message"
Can I send keyed message which is not string (but enum)?

https://github.com/edenhill/librdkafka/issues/640

for more info: http://stackoverflow.com/questions/36979586/kafka-node-send-enum-key-message-instead-of-string-key

[2016-05-02 14:53] giaule opened #362 "Consumer not registered"
When i running my application then this alert error message

`FailedToRebalanceConsumerError: Exception: NODE_EXISTS[-110]`

I had debug lib, i look error here

`callback("Consumer not registered " + consumerId);`

Please help me

[2016-05-04 13:50] rtorrero opened #363 "Consumer option 'autoCommitMsgCount' not documented?"
I've been trying to find out what this option does but i've failed to find any documentation.

Could anyone give more information on this? Thanks!

[2016-05-05 11:24] haio commented on #363
It's actually missing in document, but you can set `autoCommitMsgCount` in options

[2016-05-05 12:30] Maleandr commented on #354
Try instance of 'KeyedMessage'. It works for me.

[2016-05-05 14:58] hyperlink commented on #363
Looks like it's just defined in the default options? I don't see other [references](https://github.com/SOHU-Co/kafka-node/search?q=autoCommitMsgCount&type=Code&utf8=%E2%9C%93) to that attribute anywhere else.

[2016-05-05 15:02] hyperlink commented on #362
I would try using the `kafka/bin` tools to troubleshoot your connection to the kafka server. Verify you can consume messages using those tools first. Good luck.

[2016-05-05 15:10] hyperlink commented on #361
The code as it's written now only accepts string which eventually gets converted to bytes and sent over to the broker.

You would have to make several changes to kafka-node code to supports this use case and honestly I don't think it's a great idea. You would get better interoperability using a plaintext string. Is there a string representation of your enum that could be used instead?

[2016-05-06 03:37] springuper commented on #90
@hyperlink's method works fine for me.

[2016-05-08 08:08] estliberitas commented on #361
@hyperlink keyed messages are OK for quite a long time already, I think we must support them.

[2016-05-08 08:49] itayB commented on #361
Great! It for efficient purpose. It would be much faster for me after consuming message to search for it as number rather than string..

[2016-05-09 11:49] SirCameron opened #364 "Zookeeper path prefix"
Hi,

My client's sysops has changed the key path for kafka data in zookeeper.
So instead of using:
`/consumers`etc
They use:
`/kafka/consumers`

I have forked the repo and added a `pathPrefix` to the zkOptions object and to all places where a zk path is defined.

In keeping with your contribution guidelines, I'm creating an issue before I create the pull request.
May I go ahead with the pull?

[2016-05-09 12:09] janantala commented on #358
@saurako some features work
Kafka 0.9 however should still support kafka 0.8 consumers and producers.

[2016-05-09 12:12] carlessistare commented on #364
LGTM

[2016-05-09 13:26] SirCameron commented on #364
Cool! Here she is: https://github.com/SOHU-Co/kafka-node/pull/365

[2016-05-09 13:37] rtorrero commented on #363
Any idea how or why it got there in the first place?

[2016-05-09 13:44] hyperlink commented on #364
@SirCameron Thanks for the PR. I made some comments on it. Also could you update the `README` to document this new feature?

[2016-05-09 13:53] hyperlink commented on #363
No idea @rtorrero. I haven't been in the code base that long. Maybe it was a feature that was planned but never implemented. We should remove it to prevent confusion. PR's welcome! :)

[2016-05-09 16:10] monish777 opened #366 "Write low level kafka producer in node js"
Below is my simple code used to produce messages to a kafka topic in node js, using the kafka-node module

[code]

Now the kafka-node module automatically detects the brokerList that the producer should try to connect to from the zookeeper, as per the docs.

But the broker list that it gets is wrong(Could be a bug at the kafka cluster end, where zookeeper isn't configured properly). Is there any w

[2016-05-09 16:20] hyperlink commented on #364
@carlessistare pointed out in the PR the solution is to add a `chroot` suffix to the `connectionString`.

[2016-05-09 16:20] #364 closed

[2016-05-09 17:36] saurako commented on #358
Thank you @janantala

[2016-05-10 09:47] eirslett opened #367 "kafka-please for integration testing"
I made a little npm module called [kafka-please](https://www.npmjs.com/package/kafka-please) which sets up a local kafka/zookeeper broker, meant for integration tests. Is this npm module something you could be interested in using for integration testing of kafka-node?

[2016-05-10 23:17] saurako opened #368 "Multiple consumer instances with the same group id"
Hi,
I'm trying to understand how kafka-node handles multiple consumers with the same group id. I found this other issue (https://github.com/SOHU-Co/kafka-node/issues/47) also asked this same question, but that was couple years back. Is this still the case? Or has this been addressed?

Thanks!

[2016-05-11 07:54] estliberitas commented on #367
I'll check it.

[2016-05-11 13:35] estliberitas commented on #367
@eirslett as far as I get it, you just don't support current LTS. Which makes it a bit difficult to use for many people. I mean, at least me, I use LTS even on my machine, not only on production.

[2016-05-11 14:15] eirslett commented on #367
You mean the node.js version? Yup, it uses the latest syntax. But that could easily be fixed, if needed!

[2016-05-11 18:45] saurako commented on #368
Following up on this: from my tests it seems like the consumer instances get delivered the same messages. Should each instance be committing after receiving a message, so it is not delivered to all instances?

[2016-05-11 19:48] saurako commented on #368
Does using the HighLevelConsumer in this case help? Seems like it does have rebalancing logic in it; although there is this open PR for fixing an issue that I observed too: https://github.com/SOHU-Co/kafka-node/pull/369

[2016-05-11 21:21] lbarik commented on #368
I am using HighLevelConsumer and I see the same problem as mentioned by sauako

[2016-05-12 04:37] giaule commented on #362
Thanks for support.

 i had tried run agains, every when has error 👍

[2016-05-13 14:30] CharlesWall commented on #342
I'll have a PR coming for picking up from the latest offset.

[2016-05-16 02:11] springuper commented on #291
I encounter the same problem, and find out the reason: `offsetOutOfRange` event will fetch the available offset and choose the minimum one.

some references:
- #345
- https://github.com/dpkp/kafka-python/issues/263#issuecomment-62042733

[2016-05-16 19:57] tizzo opened #371 "Proposal: Create a Readable stream based consumer"
Two important features of Kafka are message durability and strict message ordering (within a topic partition). As [others have noted](https://github.com/SOHU-Co/kafka-node/issues/338), this module's consumers convert kafka's fetch based API into a firehose event emitter that loads every message from the topic as fast as it can without regard for processing. That means that new messages are fired i

[2016-05-17 21:52] tb01923 opened #373 "Producer createTopics is not creating topics and is returning error"
I wrote this helper
[code]
In usage
[code]
I get the error

I think my configuration looks good:

[code]

[code]
edit - I also explicitly added this line to the server.properties:
[code]
but it didn't change the behavior, that I can see

[2016-05-17 23:03] tb01923 commented on #373
I am leary of this code (not as a root cause, but it doesn't appear accurate).  lib/client.js 266:277:
[code]
It is possible that once the "retry period" expires, that it calls the callback with both the error object: Error('Topic creation pending') and the message 'All created'

[2016-05-18 15:06] acoulon99 commented on #234
+1

[2016-05-18 15:51] BadLambdaJamma commented on #234
A word of caution about the - "just restart the consumer" approach that I and others have mentioned:  If your consumer count reaches a high enough number, or you have significant network latency, "Just Restart" will fail to work.   The "Just Restart" methodology works for me in production AWS when I have 3 consumers.  If I crank up that number to 10 consumers,  I started to see the inevitable "reb

[2016-05-19 13:01] subzero10 opened #374 "Consuming large messages is incredibly slow"
I have some messages which are very large (10-100 MB). When consuming such messages, the Client class (client.js) is very slow on handling the received data from the socket.
Here are some numbers:
Message Size         Write         Read
20 MB                     ~1.3s          ~5s
50 MB                     ~1.3s          ~26s
70 MB                     ~1.3s          ~55s
Any message higher than 70

[2016-05-20 15:33] ppryde commented on #316
+ 1 for this issue, I get it with a single consumer but when the number of partitions I add >= 11

[2016-05-21 15:06] tb01923 commented on #373
I upgraded kafka on the server to the latest 0.9 flavor and this went away.  Sorry for the hysteria, folks still using 0.8 flavors may not be able to create topics.

[2016-05-21 15:06] #373 closed

[2016-05-21 15:12] tb01923 commented on #371
+1 I am using this project as an under pinning of a lightweight (emphasis _light_) streaming framework (e.g. samza/storm/spark) for NodeJs, and would like to be able to work this way.  My focus is really creating an expressive systems for the application engineers to utilize without them having to worry about the complexities underpinning that solution.

[2016-05-21 17:16] sehod commented on #371
💯 agree that a consumer implementation based on Readable is needed.

[2016-05-22 17:10] corybill commented on #320
I cannot get a consumer.commit or a consumer.setOffset to actually set the offset of a consumer.  Is this a defect?

[2016-05-23 08:50] estliberitas commented on #316
It's very old issue, AFAIK, it's not fixed still

[2016-05-23 08:53] estliberitas commented on #371
cc @hyperlink - I'm not ready to work on this, but it sounds very interesting

[2016-05-23 16:27] tb01923 commented on #368
I am running this sample and I see some similar bevior.  It seems to only allow one topi to be listened to at a  time  from a consumer.  If I comment out the first consumer, the second one receives all of the messages.
[code]
I am going to run this in multiple processes to see if there is a different behavior.

[2016-05-23 16:34] tb01923 commented on #368
i made a minor change where the main script sends to a topic and listens on that topic (only one consumer group):
[code]
second script listens on the same topic, different consumer group:
[code]
this produces the desired result (each message is delivered to each group). **However IF i change them to have the same group name - both scipts  STILL get each message**.

[2016-05-23 16:46] tb01923 commented on #368
So this is how it looks to work to me

- Consumers look to require separate processes
- IF mulitple consumers share the same groupId AND are running at the same time they will receive the same messages
- IF multiple consumers have different groupId's AND are running at the same time they will receive the same messages...
- ...HOWEVER (different groupId's)  if one of the consumers is disabled for a

[2016-05-25 01:40] naderchehab commented on #117
+1

[2016-05-26 12:53] itamarwe commented on #354
I've created a pull-request to fix it:
https://github.com/SOHU-Co/kafka-node/pull/378

As suspected, the metadata isn't updated when the producer is initialized, so the partitions array is empty, which causes the keyed partitioner to return `NaN` as the chosen partitions, which fails the producer.

[2016-05-26 22:21] mattmiddlesworth commented on #355
@hyperlink Any timeline on the next release to npm?

[2016-05-27 01:57] hyperlink commented on #355
@mattmiddlesworth I will work on getting a 0.3.3 release out soon.

[2016-05-27 13:58] hyperlink commented on #355
@mattmiddlesworth v0.3.3 is published.

[2016-05-29 13:53] estliberitas commented on #117
Fix was proposed long long time ago and no changes since then: alexguan/node-zookeeper-client#16

[2016-05-31 05:18] kumar-b commented on #334
+1

[2016-05-31 07:09] panlilu commented on #234
+1

[2016-06-02 10:03] tlenex opened #380 "Client and HighLevelConsumer - when they are ready?"
Is there any event that emits when the connection by `Client` and/or `HighLevelConsumer` is established?

Currently my `Client` triggers `connect` event at least 2 times, sometimes even more and I just need to know when is it safe to set up my `message` listeners on `HLC`.

Are there any undocumented events that I'm missing? Like `connected`, `ready` or something?

[2016-06-02 20:12] argh commented on #371
Couldn't agree more.  I ran into the exact issues described by @tizzo and suffered the pain of implementing a secondary in-memory queue as well.  The manual pause/resume is actually not only inefficient and an implementation burden, but in high traffic conditions you can't rely on your own counters for backpressure because the internal consumer might have already buffered a huge number of messages

[2016-06-07 02:55] gm758 commented on #354
Yup, same error. I have also found the documentation for working with keyed partitions very poor (probably because they don't work). I think this is something that could be improved upon as well.

[2016-06-07 10:23] arunpmathew commented on #334
+1

[2016-06-10 19:02] BadLambdaJamma commented on #234
The re-balance misery continues in Kafka .9 and an entirely new Kafka client (not kafka-node
).  With the standard default Zookeeper epoch at 2 seconds, and a high consumer count, re-balances still fail with Kafka .9 broker clusters (never end).  As such the guidance is still the same: use the low level consumer EVEN with Kafka .9.  I have come to the conclusion that the method by which re-balance

[2016-06-10 19:39] kevinco26 opened #381 "List of topics"
Is there a way to list all of the topics in kafka?

[2016-06-13 20:01] austinkelleher commented on #334
+1

[2016-06-14 15:21] pan1cz commented on #243
I get the same error occasionally using the kafka-node consumer to subscribe to a separate zookeeper service. It seems to be a traffic load related issue for me but the error is hard to debug.

node: 4.4.3
kafka-node: 0.3.3

[2016-06-16 20:30] hyperlink commented on #334
@atkinsnashville @jadedfire @shpros @kumar-b @arunpmathew @austinkelleher would you be willing to test @CharlesWall's PR and see if it works for you?

[2016-06-17 15:02] shpros commented on #334
@hyperlink : Thanks for the notification. I'll have my colleague @jmacias try it out.

[2016-06-17 15:10] #358 closed

[2016-06-17 15:14] hyperlink commented on #353
We recently merged #372 which gave you the capability to get the latest offset. You can feed this offset into your consumer.  Eventually we will implement `fromOffset` latest.

[code]

[2016-06-17 19:33] hyperlink commented on #243
Is your consumer still in a working state after this error? the client code has logic to reconnect the socket on errors.

[2016-06-17 19:37] hyperlink commented on #381
That's not  implemented in the module. You'll need to query zookeeper for that.

[2016-06-17 19:42] hyperlink commented on #380
You shouldn't have to worry about this just attach the listener in the same event loop after instantiating the highLevelConsumer. There are several async operations that happen before the first message fetch is called.

[2016-06-20 14:54] #319 closed

[2016-06-20 14:56] #381 closed

[2016-06-20 14:56] #380 closed

[2016-06-21 16:28] itayB opened #388 "Consumer init offset end"
I'm using kafka-node to consume messages from a specific Kafka topic. When I restart my node server, it init my consumer as expected, but it's default behavior is to start consume from offset 0 while my goal is to receive only new messages (aka start consume from current offset). I didn't find a way to achieve that from the API documentation. Anyone knows if its supported?

Thanks!

http://stackov

[2016-06-21 17:54] hyperlink commented on #388
Take a look at #342. We recently merged code that can get you the latest offset. It should be in the next release.

[2016-06-21 17:56] itayB commented on #388
When the next release should be?

[2016-06-21 18:00] hyperlink commented on #388
@itayB I hope to publish it by the end of this week.

[2016-06-21 18:14] itayB commented on #388
@hyperlink perfect! Can't wait to get it ;-)

Thanks

[2016-06-22 05:34] mkj-git opened #389 "How to read message json"
I have this JSON created in java:

            HashMap message = new HashMap();
            message.put("x", "xxxxx");
            message.put("y", "yyyyy");
            message.put("z", 100);
            ByteArrayOutputStream byteOut = new ByteArrayOutputStream();
            ObjectOutputStream out = new ObjectOutputStream(byteOut);
            out.writeObject(message);

I am using https://github

[2016-06-22 10:31] itayB opened #390 "consumer read callback"
Hi, I saw the following:
[code]

I wonder if there is a same callback for consumer... I didn't find it in API documentation..
Thanks

[2016-06-22 18:54] hyperlink commented on #390
You can listen to the client's `ready` event if you need this. The producer gets it from the client as well.

[2016-06-22 18:54] #390 closed

[2016-06-22 18:56] hyperlink commented on #389
Looks like Java code needs to write the JSON string out instead of the buffer.

[2016-06-22 18:56] #389 closed

[2016-06-22 21:03] #330 closed

[2016-06-22 21:04] #355 closed

[2016-06-22 21:09] hyperlink commented on #366
Make sure you define a kafka advertised host and that host is reachable from where your code runs.

[2016-06-22 21:15] hyperlink commented on #356
That's very odd. The kafka data structure in zookeeper **should be** in JSON. What version of Kafka is this?

[2016-06-22 21:16] #326 closed

[2016-06-23 01:16] mkj-git commented on #389
In java kafka, you can't send anything without:

        ByteArrayOutputStream byteOut = new ByteArrayOutputStream();
        ObjectOutputStream out = new ObjectOutputStream(byteOut);
        out.writeObject(YOUR MESSAGE);
So this part is mandatory

[2016-06-23 01:28] hyperlink commented on #389
You don't use [this API](http://kafka.apache.org/090/javadoc/index.html?org/apache/kafka/clients/producer/KafkaProducer.html) to produce messages?

[2016-06-23 01:56] iamcc commented on #213
@haio 如果我维护了一份内存队列，但是我在处理过程中服务器崩溃了，这时我又还没commit已经处理过得任务，这种情况怎么处理好？

[2016-06-23 02:09] mkj-git commented on #389
Here is full code

            HashMap message = new HashMap();
            message.put("x", "xxxxx");
            message.put("y", "yyyyy");
            message.put("z", 100);
            ByteArrayOutputStream byteOut = new ByteArrayOutputStream();
            ObjectOutputStream out = new ObjectOutputStream(byteOut);
            out.writeObject(message);

            ProducerRecord producerRecord

[2016-06-23 02:43] hyperlink commented on #389
What would happen if you warp your message into `JSONObject`?

[2016-06-23 02:46] mkj-git commented on #389
Ok i will give it a try

[2016-06-23 17:36] StackDaddy commented on #366
Just to clarify, would defining advertised hosts on his various (potentially remote) brokers fix what may appear to be a configuration issue, preventing zookeeper from collecting the correct info, or would defining the advertised hosts allow the kafka-node library to 'specify the connection string as comma delimited list of initial brokers list'?

[2016-06-23 18:08] hyperlink commented on #366
Clients and brokers both pull data from zookeeper to coordinate with the cluster so I would imagine a wrong configuration would affect your brokers as well (though it may not be immediately obvious).

`kafka-node` pulls the list of brokers from zookeeper. After received a `connect` event from your client do a `console.log(client.brokerMetadata)` to see what the module thinks your broker's are loca

[2016-06-23 22:41] pcothenet opened #391 "Add examples of asynchronous message handlers"
Hello!

The only example of consumer in the doc does a `console.log(message)`. Given that this is node, it seems very likely that a message handler can be asynchronous (that's my case).

What happens if the handler is asynchronous (callback or promise) and fails? What is the recommended way to handle errors in a message handler. Write to a 'dead' topic?

[2016-06-24 15:14] hyperlink commented on #391
Pretty open question. That depends on your use case. You can `emit` an error in your handler class and let that class decide what to do-- maybe try to process that message again? Or you can just log the error and crash. Good luck!

[2016-06-24 21:44] tlenex commented on #380
So right after registration of `HLC` I can be allways sure that connection will be established succesfully?

[2016-06-25 13:05] hyperlink commented on #380
If the purpose is to kick off another async service you can reject when you receive an `error` event and resolve when you receive a `connect` event .  Please keep in mind you can always receive `error` events sometime after a `ready`/`connect` So this won't map to promises 1 to 1. And even after receiving an `error` event it doesn't mean the end b/c the module will retry if there were connection i

[2016-06-27 16:37] hyperlink opened #394 "Add validation to client id and group id"
It's possible cause errors thrown in kafka broker when defining client id with invalid characters. The invalid characters I have tested are `?:,"`.

## Reproduce Step

Update the producer example to add a client-id that includes an invalid character such as a colon.

[code]

In the kafka logs:

[code]

I found the code the kafka uses to validate the client id and group id. Our validation should ma

[2016-06-27 16:55] sgajavada opened #395 "minimatch security vulnerability"
Security checks are flagging  **Regular Expression Denial of Service** vulnerability with  minimatch module in the following path.  Can you take a look at this?

kafka-node@0.3.3 > snappy@4.1.2 > node-gyp@3.2.1 > glob@4.5.3 > minimatch@2.0.10
kafka-node@0.3.3 > snappy@4.1.2 > node-gyp@3.2.1 > minimatch@1.0.0

More Info: https://nodesecurity.io/advisories/118

npm WARN deprecated minimatch@1.0.0: P

[2016-06-27 18:04] hyperlink commented on #395
I'm experiencing the same issue with the latest snappy release (`5.0.4`) which uses latest `node-gyp` (`3.3.1`). Looks like this needs to be addressed in the `node-gyp` project that snappy uses.

`node-gyp` is only used during `npm install` to build snappy so maybe this isn't as serious to our module.

[2016-06-27 23:23] sgajavada commented on #395
Thanks.  Did you happen to file an issue with node-gyp?

[2016-06-28 09:26] yukuan1988 commented on #323
Guys, is this issue ever fixed? I'm using 0.4.0, issue still remains.
I also tried 0.2.30, FailedToRebalanceConsumerError happens with code NODE_EXISTS[-110] sometimes, and when there's no this Error, only 2nd consumer get the message. @hyperlink

[2016-06-28 14:13] hyperlink commented on #395
no I haven't @sgajavada.

[2016-06-28 14:19] hyperlink commented on #323
@yukuan1988  please take a look at this [PR](https://github.com/SOHU-Co/kafka-node/pull/369). Does this solve the issue for you?

If not we will need to get some test code to replicate the issue.

[2016-06-29 02:04] yukuan1988 commented on #323
Sorry, @hyperlink , I'm getting confused. Which comment should I take? It seems that all the solutions are to modify the library, I wonder whether it's a good approach. Some more details are really appreciated!

[2016-06-29 17:41] hyperlink commented on #323
@yukuan1988 could you post your code here?  We need to see a test code to replicate the issue you're describing.

[2016-06-29 17:42] hyperlink commented on #388
v0.4.0 has been published with the method to get latest offset.

[2016-06-29 17:42] #388 closed

[2016-06-30 05:39] yukuan1988 commented on #323
Hi @hyperlink my bad, i should have attached my code earlier. And here it goes
[kafka.zip](https://github.com/SOHU-Co/kafka-node/files/340749/kafka.zip)
and the console log:
_**** trying to connect to kafka located at osboxes:2181
**** connected to osboxes:2181
++++ producer is ready
++++ sending message to topic test_topic_1
++++ sending message to topic test_topic_2
---- topic subscribed: test_t

[2016-06-30 16:45] hyperlink commented on #323
@yukuan1988 just glanced at the code. I recommend you create new client for every consumer created. Don't share the client object between consumers. Also if you want each consumer listening to the same topic to receive the message you should give a unique `groupId` otherwise kafka believes it to be the same group and only the leader in the group will receive that message. Good luck.

[2016-07-01 00:07] yukuan1988 commented on #323
@hyperlink I've also tried different groupId for different topic, no luck. I think if for one client and one topic, only one consumer would receive the message, at least it should be documented.

[2016-07-04 06:20] ginokurian commented on #192
Somewhat off this topic, when we mention that fetchMaxBytes: 1024 * 128 does it mean that we are telling the consumer to fetch 128 messages of length 1kb each??..or does it just mean that it will fetch 128kB of messages....
I found the documentation lacking a bit of clarity in this...

[2016-07-04 07:00] mickhansen commented on #192
@ginokurian No, that tells the consumer to fetch 128KB in total, however many messages that might be

[2016-07-04 07:00] #192 closed

[2016-07-07 14:28] #334 closed

[2016-07-07 21:36] pcothenet commented on #391
What about commit behavior. If I crash (or simply SIGINT my consumer) while a message is processing, does the offset gets committed?

[2016-07-07 21:47] hyperlink commented on #391
Module doesn't handle this case. You will need to handle SIGINT and commit and close your consumer.

[2016-07-08 17:00] #391 closed

[2016-07-08 18:35] snatesan opened #396 "Frequent FailedToRegisterConsumerError: Exception and CONNECTION_LOSS: Exception"
I am seeing high number of
 FailedToRegisterConsumerError: Exception: CONNECTION_LOSS[-4]
followed by
CONNECTION_LOSS: Exception: CONNECTION_LOSS[-4]
errors while using high level consumer.

It automatically recovers from this state and start receiving messages.
But the this error occurs very frequently.

Occasionally consumer gets old messages redelivered and that is creating problem in applicati

[2016-07-12 00:30] glenswift opened #397 "Stopped consuming messages after system restart"
I have default kafka setup (except logs moved to normal directory instead of /tmp). After system (normal) restart consumer in my code stopped getting any messages from the topic. The code is pretty simple (sorry for generator):

[code]
I've tried to restart kafka and zookeeper but nothing helps. Via kafka's consumer script I can approve that it receives all messages itself.

Is there a way to debu

[2016-07-12 00:49] hyperlink commented on #397
This module uses the [debug module](https://github.com/visionmedia/debug) so you can just run below before starting your app.
[code]

[2016-07-12 01:46] hyperlink commented on #396
Sounds like the client lost it's network connection Zookeeper and/or Kafka.

[2016-07-12 01:56] philidem opened #398 "Error: Cannot read property 'sslHost' of undefined (client.js:546:23)"
We're using the new SSL support and saw this error when trying to create our Kafka producer:

[code]

I'm logging this issue here to keep track of it but I will try to add more details later.

Problem lines are these:

[code]

I think this is the right fix:

[code]

I don't know enough about _brokerFile_. I would like to understand a little better why it might be undefined in some cases before app

[2016-07-12 02:08] philidem commented on #398
@CharlesWall @hyperlink can you take a look at this error to provide insight into why `brokerProfile` is `undefined` and if my fix described above is reasonable?

[2016-07-12 13:41] hyperlink commented on #398
I'll take a look.

[2016-07-12 18:23] pcothenet commented on #90
Same issue on my side. And I can't catch the SIGINT because AWS Elastic Beanstalk somehow does not send one. I'm pretty sure @springuper PR might fix this.

[2016-07-13 18:30] glenswift commented on #397
I tried to, but there's no any debug output from kafka-node

[2016-07-13 20:21] hyperlink commented on #397
My example should work iIf you are on a mac/linux environment. Double check the documentation for activating debug is appropriate for your OS.

[2016-07-13 22:02] snatesan commented on #90
I have seen this issue occurs when the client (zoo keeper) looses connection and soon after it get connection.
Rebalance logic should account for zookeeper session time out as already specified here https://github.com/SOHU-Co/kafka-node/issues/90#issuecomment-123893422

[2016-07-14 09:44] Foo42 commented on #371
I spiked out a stream based reader and began a commit stream about 6 months back for a project at work. It seemed to work under basic testing. Ss you suggested we use the return from push to pause the consumer etc. I've just returned to the code as we have an interest in productionising it. If it all works out (with the commit stream etc) I'll feedback, maybe see if I can get agreement to publish

[2016-07-14 14:11] #395 closed

[2016-07-14 15:25] #398 closed

[2016-07-15 00:22] snatesan commented on #396
@hyperlink looks like the connection loss is happening only in one of the vms where application is running. So I will troubleshoot into that why it is happening only one vm.
But it revealed an issue in rebalance logic. Due to network interruptions there is frequent rebalance occurs in short time and that leads to eventually fetch all messages from zookeeper not from the committed offset.
I have su

[2016-07-15 17:59] nattymachado opened #403 "Consume batches of messages"
Hi

I am working in a consumer that consumes messages to a Apache Hadoop for analytics.
In my consumer I am using kafka-node with Kafka 0.8.2 and  I need to fetch messages in batches because I need to send more than one message at a time for Hadoop. For this I include in my consumer the configurations:
fetch.min.bytes and fetch.wait.max.ms.
With this configurations I see that my the messages are c

[2016-07-18 14:01] hyperlink commented on #403
I don't think you need to change the module to accomplish this. You should be able to feed the incoming messages into an array and when the `done` event is emitted send that batch off and clear that array.

[2016-07-18 17:52] hyperlink commented on #367
We're using kafka in docker container for testing. Thank you for your suggestion.

[2016-07-18 17:52] #367 closed

[2016-07-18 19:01] hyperlink commented on #396
Closing since #402 is merged.

[2016-07-18 19:01] #396 closed

[2016-07-19 06:43] 1more commented on #291
+1 I have same problem, in 0.3.3.

[2016-07-19 09:37] bencebalogh commented on #235
@hyperlink I think this can be closed as it should be fixed with #402

[2016-07-19 14:17] #394 closed

[2016-07-19 14:17] #363 closed

[2016-07-19 15:17] cressie176 commented on #275
When I ```diff``` the code for the high level producer and the producer they're almost identical. The only significant difference appears to be the default partition type, which is configurable on the both anyway. Am I missing something?

[2016-07-19 15:36] hyperlink commented on #275
@cressie176 you are correct. There's duplicated code for a small difference. It can be cleaned up. PRs are welcome!

[2016-07-19 16:55] cressie176 commented on #275
Thanks for the quick response @hyperlink. Would consider submitting a PR, but unless I've misread there's no reliable way throttle incoming messages (been reading some of the ```pause()``` issues). This is likely to be important for us, so I'm going to investigate alternative clients.

[2016-07-19 21:22] hyperlink commented on #275
We throttle outside of the module using `async.queue`. We `pause()` in our message handler and push the message to the queue. Once the queue is drained we call `resume()`.

It has worked well so far. Good luck!

[2016-07-20 10:41] masumsoft commented on #48
Yes looks like it is broken again, facing the same issue on v0.5.0

[2016-07-20 18:50] Tombert opened #407 "Unable to connect to remote box"
Hello!  When I try and connect to a remote kafka instance, I get this error:

[code]

Is there a place I need to specify the URL for a node?

Here is the code I'm using:

[code]

[2016-07-20 22:16] nedstarksbastard opened #408 "How to handle offsetOutOfRange error"
I am running a node server that acts as a Kafka Consumer. I had seen instances of few offsetOutOfRange errors online, whereby the consumer tries to read messages that are no longer available. I tried to overcome that by having the following handler

[code]

I am still not able to absolve this issue. I get the offsetOutOfRange issue in a continuous loop. But amazingly I am also getting all the mess

[2016-07-21 00:01] hyperlink commented on #407
You may want to check your kafka/zookeeper is setup correctly. Try connecting with the kafka bin tools first.

[2016-07-21 04:09] buctyoyo opened #409 "How to get new message only after commit last message?"
like rabbitmq get new message after ack

[2016-07-21 06:40] #409 closed

[2016-07-22 06:33] askhogan commented on #354
I just ended up rolling my own and manually setting partition number in payloads.

[2016-07-25 15:54] #353 closed

[2016-07-26 04:10] buctyoyo opened #410 "Kafka producer define `random` partitionerType but only send to partition 0"

[2016-07-26 04:10] buctyoyo commented on #410
I have 10 paritions

[2016-07-26 07:13] #410 closed

[2016-07-26 10:55] buctyoyo opened #411 "同一个groupId的多个consumer 会fetch到同样的messages"
consumer 全都监听同一个topic的所有partition

这样会造成重复消费，请问这个有什么地方可以设置吗？

[2016-07-26 11:49] kumar-b opened #412 "after close is called throws uncaughtException: write after end"
Here is the stack trace of the uncaught exception.

[code]

Anyone facing similar issue?
I'm using following to close the consumer connection. The callback gives no error.
`consumer.close(true, callback)`

[2016-07-26 18:26] #235 closed

[2016-07-26 21:12] hyperlink commented on #350
Should be fixed in version 0.5.1.

[2016-07-26 21:12] #350 closed

[2016-07-27 06:50] #411 closed

[2016-07-27 11:18] tehdeadone opened #415 "Uncaught exception when a kafka broker goes down"
I'm testing resilience on our app and I have both a producer and a consumer running. Pulling down one kafka broker at a time - I eventually hit this:

I don't have a one-off reproducible scenario but it comes up enough times to be a problem.

We're using v0.5.0 of kakfa-node on Kafka 0.9.0.1 and Zookeeper 3.4.8

[code]

[2016-07-27 13:46] hyperlink commented on #415
I may have fixed this for 0.5.1 however it's not published yet. Could you point `package.json` kafka-node to master (`SOHU-Co/kafka-node`) and see if this error shows?

[2016-07-27 13:49] tehdeadone commented on #415
Sorry - didn't mean to close the issue. Will retry now and get back to you.

[2016-07-27 14:51] tehdeadone commented on #415
I don't seem to see the error again. That's great. When will 0.5.1 be out?

[2016-07-27 14:53] hyperlink commented on #415
Today.

[2016-07-27 14:56] #415 closed

[2016-07-27 15:30] hyperlink commented on #415
@tehdeadone thanks for verifying the issue. 0.5.1 has been published to npm.

[2016-07-29 06:00] 1more opened #418 "HighLevelConsumer rebalance logic for offset not works perfectly in v0.5.1"
Hi,
I'm using kafka-node and thanks to v0.5.1 update which resolves [this](https://github.com/SOHU-Co/kafka-node/pull/402) issue.
However, even after update to v0.5.1, rebalance logic seems have some problem.
My situation is,

- Kafka server
  - 6 partiton for an topic (Kafka version is 0.9.x)
- Kafka client(Application server)
  - 4 server, and each server has 2 node instances(using pm2) - total

[2016-07-29 14:12] hyperlink commented on #418
- Make sure the message sizes you're trying to consume doesn't exceed the default message size (which i believe is around 1 meg). If this is the case you can adjust this by updating the `fetchMaxBytes` option.
- Also make sure you are closing your consumers for the CTRL-C case with something like this:
[code]
- Lastly there's some outstanding HLC rebalancing issues that I hope to address in `0.5.3

[2016-07-29 15:25] #362 closed

[2016-07-29 20:06] lightswitch05 opened #420 "Support for consuming a wildcarded topic"
We often define our topics on the format `<service>.<app>.<type>`. This works great for libraries that offer wildcard support. When I try to subscribe to a topic using a wildcard eg. `finance.*.error`, I get a `TopicsNotExistError`. Three questions:

- Is there any interest in supporting wildcards in topics?
- Are there any major technical hurdles that would prevent wildcarded topics from being ad

[2016-07-30 22:33] jonfasking opened #421 "IndexOutOfRangeError"
Kafka 0.9
Latest master on kafka-node.

I'm trying to set the offset of a single topic to 0, and consume from the beginning of that topic onward. It is not working. I've tried using Consumer and HighLevelConsumer. My config looks like this:

[code]

[2016-07-31 01:48] hyperlink commented on #420
### Roadmap wise
The module is currently implemented to the 0.8 version of kafka. Latest versions of kafka is backwards compatible so that's why the module still works on 0.9 (and probably .10 as well). The only exception is SSL. We added that recently. I would love to see us supporting the latest protocol.

The high level consumer needs to be updated to support 0.9 type of consumers. And this wou

[2016-08-02 03:12] 1more commented on #418
- I think the problem was error handler logic for consumer instance in my code

 - my code was
[code]

 - After debug, I found that 'NODE_EXISTS' error always occurred right after restarting server
 - and the consumer which throws the error not closed and remained in consumer list

- So I change my codes like
[code]

Now it works well. Thanks for answering me.

[2016-08-02 17:51] #418 closed

[2016-08-03 03:08] askhogan commented on #276
Guys this is a confirmed bug.  Can you label it as such.  This one just got us pretty bad.  Your documentation makes no distinction between when array you can include in payloads.

[2016-08-03 14:56] hyperlink commented on #276
Looks like this is the same issue as #288. I will update the docs for the next release.

[2016-08-03 16:21] mcasimir commented on #420
@hyperlink

Can u please clarify how? What is the procedure? Retrieve the list and keep doing `addTopic`?

[2016-08-04 01:39] #276 closed

[2016-08-04 01:39] #288 closed

[2016-08-04 05:02] vjmani opened #426 "Kafka consumer message event is firing more than once"
I have a scenario where I need to use two producers and two consumers. Producer1 is producing something in Topic1 which is being consumed by Consumer1, which is handled by Java app. Same time this java app after consuming, producing another message on Topic 2, which is being handled by my Consumer 2 in my node app. This all happening in one REST call. The Problem is that Consumer 2 is firing 'mess

[2016-08-04 09:13] kumar-b opened #427 "Kafka producer and consumer not working in TLS enabled cluster"
The 3 node kafka cluster is setup with TLS with inter broker communication protocol as SSL. I have created a test topic with 3 partitions and 3 replication factor. The kafka-node producer is able to send message to one of partition, but gives error for other two. Similarly kafka-node consumer is not getting any messages from two of the brokers. kafka console producer and consumers are working fine

[2016-08-04 09:16] kumar-b commented on #427
Also no issues noticed with kafka single machine setup with TLS.

[2016-08-04 09:17] kumar-b commented on #334
we are facing some issues in TLS enabled cluster. #427
Anyone else tested with TLS enabled cluster?

[2016-08-04 13:43] hyperlink commented on #427
Thanks for the report. I will look into this.

[2016-08-04 13:59] hyperlink commented on #427
@kumar-b could you attach your producer send block to  `connect` event of your `kafkaClient` instead of `ready` and let me know how that works for you.

[2016-08-04 14:07] hyperlink commented on #426
Sorry, I'm having trouble understanding the issue and why it would be undesirable to receive a callback for every message received.

[2016-08-04 16:16] kumar-b commented on #427
It gave same error as reported above.

[2016-08-04 16:24] hyperlink commented on #427
Hmm are the `pfx` and `passphrase` required? We don't use them to connect to our cluster. Also what version of kafka are you running?

[2016-08-04 16:34] kumar-b commented on #427
`pfx` file contains the key and cert of the client and it is password protected.  Since the client is able to connect to other brokers, `pfx` part may not be the cause. We are running kafka 0.10

[2016-08-04 17:22] vjmani commented on #426
As its all happening in one http call..that callback is responsible for responding to http call. So when on message is listening more than once that callback is being called multiple time and causing issue. Here is the sceneri

[2016-08-04 17:26] vjmani commented on #426
Sorry..it was typing mistake above.. so the scenario is..
Http request--> Producer1 (node app) ---> Consumer 1 (java app) ---> Producer 2 (java app) ---> Consumer 2 (node app) ---> http response.

I hope now it is understable.

[2016-08-04 18:14] hyperlink commented on #427
Try calling `kafkaClient.refreshMetadata(topic, callback)` before you send. You can also echo out the contents of `kafkaClient.topicMetadata` that may provide more information.

[2016-08-04 18:32] hyperlink commented on #426
I wouldn't not try to design this to fit in a single http request. There are multiple points of failure that is out of your control and your app may suffer from latency issues.

You should consider about making the request return after Producer1 successfully sends it's  request and then create a server side push event to get the results of the request back to your web client. Good luck.

[2016-08-04 18:32] #426 closed

[2016-08-04 20:44] pcothenet commented on #371
Where do we stand on that one? Has anyone started giving it a shot?

[2016-08-05 08:15] Foo42 commented on #371
I've got some code I've spiked out with both a readable kafka topic stream and a writeable kafka commit stream. It seems to work, with back pressure / demand pausing and resuming the kafka consumer. I'll try and get it cleaned up a bit and open a PR. It can be a starting point for discussion anyway

[2016-08-05 09:11] alexzhuustc opened #428 "producer.send(..., callback) doesn't guarantee callback get called if socket was terminated unexpectly"
producer.send(..., callback) doesn't guarantee callback get called if socket was terminated unexpectly

When we send a message to broker, and at that time the socket was terminated unexpectly, we observed below:
  producer.on('error', callback)                -> callback get fired, err is "Error: This socket has been ended by the other party"
  producer.send(..., callback)                  -> call

[2016-08-05 09:41] kumar-b commented on #427
Refreshed metadata before call and the topic metadata for three different run is echoed out.
[code]

[2016-08-05 09:43] kumar-b commented on #427
the above run was with topic having 1 replication factor and 3 partitions. But same behavior was observed with 3 partitions and 3 replication factor.

[2016-08-05 14:14] hyperlink commented on #428
When the socket is closed all the queued callbacks should be called with an error that was emitted. I'll double check this. What was the specific error you saw?

[2016-08-05 14:16] #403 closed

[2016-08-05 14:17] #366 closed

[2016-08-08 01:10] alexzhuustc commented on #428
producer.on('error') emit an error "Error: This socket has been ended by the other party".

[2016-08-08 11:52] pablochen opened #434 "how can i set producer properties like batch.num.messages or queue.buffering.max.ms?"
title means everyting

[2016-08-09 08:08] goodfella1408 commented on #428
Getting the same error during commit  (kafka-node v 0.5.3) . Commit callback doesnt return . Only the error event is sent to the consumer (consumer.on('error',function(err){})) -
 [ERROR] { [Error: This socket has been ended by the other party] code: 'EPIPE' }
Error: This socket has been ended by the other party
at Socket.writeAfterFIN [as write] (net.js:297:12)
at BrokerWrapper.write (/home/ubunt

[2016-08-09 11:24] milashenko opened #436 "CyclicPartitioner, RandomPartitioner, and KeyedPartitioner do not work properly."
Partitioners do not receive list of partitions parameter and as the result:
CyclicPartitioner always returns 0
KeyedPartitioner and RandomPartitioner fail

[2016-08-09 13:56] hyperlink commented on #436
call `client.refreshMetadata([topic1, topic2], callback)` before sending.

[2016-08-09 15:36] hyperlink commented on #428
@alexzhuustc I can't reproduce the issue. I have a test script that generates random data and publishes it to a topic periodically. When I apply `tcpkill` it emits an error on the producer and all the callbacks get called with a `BrokerNotAvailableError: Could not find the leader` error. Here's what the output looks like:

[code]

And after I stop the `tcpkill`

[code]

Can you add more of your co

[2016-08-09 16:10] #274 closed

[2016-08-09 18:17] #245 closed

[2016-08-09 18:18] hyperlink commented on #253
We're been using this in a 4.x environment w/o issues.

[2016-08-09 18:18] #253 closed

[2016-08-09 18:19] #250 closed

[2016-08-09 18:35] hyperlink commented on #236
High level producer by default will round robin the partitions.

[2016-08-09 18:35] #236 closed

[2016-08-09 18:46] hyperlink commented on #267
You should have a handler in your `consumer.close` call that calls `process.exit();`

[2016-08-09 18:46] #267 closed

[2016-08-09 18:52] hyperlink commented on #218
I'm curious to know if this issue happens when you force HLC commit on close.

For example like below:

[code]

The new version `0.5.4` will perform a rebalance when the partition changes.

[2016-08-09 18:53] #259 closed

[2016-08-09 18:55] hyperlink commented on #240
I don't think it behaves like this anymore. Closing.

[2016-08-09 18:55] #240 closed

[2016-08-09 18:57] #243 closed

[2016-08-09 20:55] Maleandr commented on #243
Hi we have exactly some error in our production (not on test), so I guess it is somehow workload related. We use both producer/consumer and when this happen both are dead.

[2016-08-09 21:14] #215 closed

[2016-08-09 21:15] #256 closed

[2016-08-09 21:16] #255 closed

[2016-08-09 21:16] #115 closed

[2016-08-09 21:22] hyperlink commented on #283
It's likely a consumer doesn't work but I do know that producing a message to a topic that doesn't exist will work since kafka will just create that topic. Just be aware you will get an error response on the first send to that topic.

[2016-08-09 21:22] #283 closed

[2016-08-09 21:25] hyperlink commented on #222
There's now way to read from the latest offset see the FAQ section [here](https://github.com/SOHU-Co/kafka-node/#for-a-new-consumer-how-do-i-start-consuming-from-the-latest-message-in-a-partition).

[2016-08-09 21:25] #222 closed

[2016-08-09 21:35] hyperlink commented on #290
`pause()` just sets a flag to deactivate the fetch loop.

[2016-08-09 21:35] #290 closed

[2016-08-09 21:42] #227 closed

[2016-08-09 21:43] #407 closed

[2016-08-10 06:55] kumar-b commented on #427
Hi @hyperlink

With some debug, I found out the root cause.

Since from kafka 0.9 the host and port property were deprecated and listeners was used as single point of truth, we have setup kafka brokers without host and port. So metadata of a broker looks like this way
[code]

Here host and port are null and -1. In a cluster all the brokers will have host and port as null and -1.
But in kafka-node

[2016-08-10 07:39] kumar-b commented on #427
Actually this is not at all any configuration issue. ```host``` and ```port``` will be null and -1 for SSL mode and ```sslHost```, ```sslPort``` will have real values. So setup brokers part should be changed based on ```self.ssl```

[2016-08-10 14:02] hyperlink commented on #427
Great debugging @kumar-b. I hope to have this fixed soon.

[2016-08-10 19:02] hyperlink commented on #427
@kumar-b could you temporarily point your `package.json` to point to the `fix-ssl-only-clusters` branch and see if this issue is resolved for you?

[2016-08-11 00:14] pcothenet opened #440 "consumer.emit('done') called once for each broker?"
I'm still trying to build a batch consumer that fetches a bunch of message, process them asynchronously and commit only once the message have been processed.

A seemingly ideal solution would be #371 but in the meantime, here's what I'm doing:

1. on the first message, pause the consumer
2. accumulate the records
3. once all records fetched have been accumulated, process them, commit the offsets,

[2016-08-11 01:14] hyperlink commented on #440
Hello @pcothenet. The client should only connect to [one broker](https://github.com/SOHU-Co/kafka-node/blob/master/lib/client.js#L89). And you should only see a `done` when all the messages have been emitted.

Looks like you're on the right track. Here's what our wrapper around the consumer looks like:

1. Create a `async.queue` with message processor and concurrency of one (the message processor

[2016-08-11 01:59] pcothenet commented on #440
Hum, interesting. My kafka has three brokers.

Interesting. I ran a test with a single consumer and:

- `sendToBroker` [here](https://github.com/SOHU-Co/kafka-node/blob/master/lib/client.js#L420) is called three times for each `send`
- so the callback of the `decoder` gets called three times
- so `done` was called three time for a single `sendFetchRequest`

Do you know what could cause this?

[2016-08-11 08:41] kumar-b opened #441 "Consumer does not work if the partition in topic config is a string"
The consumer is not working if topic config looks like this - (where partition is a string)
[code]

Is this the expected behavior?  If yes, can we have this documented?

[2016-08-11 08:59] kumar-b commented on #427
It works with positive tests. I didn't try other negative tests.

[2016-08-11 14:10] hyperlink commented on #441
Looks like our examples and the examples in the docs all use integer as the partition. Do you think this should be explicitly called out?

[2016-08-11 14:46] kumar-b commented on #441
It can be called out or we can throw error in case of string partition number provided. Right now it gives no error and finding the cause takes good amount of time.
By looking at java api of topic partition - error can be thrown on string partition config.
https://kafka.apache.org/090/javadoc/org/apache/kafka/common/TopicPartition.html

[2016-08-11 15:29] #427 closed

[2016-08-11 15:51] lightswitch05 commented on #420
@hyperlink thanks for adding this to the `0.6.0` milestone! I looked at adding support for it myself, but all the async calls in the zookeeper library are a little difficult to follow.

[2016-08-11 16:20] hyperlink commented on #420
np @lightswitch05! I'm going to take a stab at implementing it next week. Though bug fixes will still take top priority.

Regarding bluebird are you thinking of introducing to the private calls in module or as part of the API?

In the past I've hesitated making drastic changes to the code since our test coverage is so bad. We've got a little better but I feel it's better to focus on better tests a

[2016-08-11 16:22] #441 closed

[2016-08-11 16:41] lightswitch05 commented on #420
Bluebird would be a purely internal replacement of `async`. A good example is `Zookeeper.prototype.getConsumersPerTopic`. It has a huge `async.series` block with callbacks all over the place. Another is `Zookeeper.prototype.addPartitionOwnership`. A lot of the callbacks are just to carry on results or errors, but it make the processing path a bit hard to follow - at least for me. Promises would si

[2016-08-11 19:59] #139 closed

[2016-08-11 20:00] hyperlink commented on #122
Is this still a problem?

[2016-08-11 20:00] #118 closed

[2016-08-11 20:10] #284 closed

[2016-08-11 20:10] #337 closed

[2016-08-11 20:10] #349 closed

[2016-08-12 01:27] alexzhuustc commented on #428
抱歉，前一comment的内容有错误，非常抱歉。

我现在了解到的信息是，callback不被触发与这个类型的Error紧密相关：“Error: This socket has been ended by the other party”。

不过，这个类型的Error只在一段时间内频繁出现，大约1天1次。 持续了约5天左右。 自打我提交了这个issue, 这个error再也没出现过。  现在一直运行得好好的, 我不知道怎么复现。

[2016-08-12 06:44] alexzhuustc commented on #428
Could it be caused by below reason? just a guess.
--------------------------------------------------

Client.prototype.clearCallbackQueue = function (socket, error) {
  if (!longpolling) {
    Object.keys(queue).forEach(function (key) {
      var handlers = queue[key];
      var cb = handlers[1];
      cb(error);   --->       function my_callback_1() {
                                  producer.se

[2016-08-12 09:51] alexzhuustc commented on #428
下面是我的一个原因猜测。事件按以下顺序触发，可能会造成callback丢失

1. 服务器关闭
2. socket.on('end') -> retrying=true
3. socket.on('close', had_error:false) -> cbqueue清空
4. call producer.send(..., callback) ->  以下条件都能通过 (!broker || !broker.socket || broker.socket.error || broker.socket.closing) -> 进入cbqueue
5. socket.on('error', 'Error: This socket has been ended by the other party') -> 外部可以收到producer.on('error')的callback
6. prod

[2016-08-16 04:59] nagarashish opened #446 "TypeError: Object PLAINTEXT://[IP]:9092 has no method 'find'"
Hi,

I am trying to setup Apache Kafka server and kafka-node as a Consumer.  Apache Kafka server is running & I have verified with command line scripts.

Getting "no method 'find' error when trying to use kafka-node as consumer:

TypeError: Object PLAINTEXT://[IP]:9092 has no method 'find'
    at /root/kafka/nodeconsumer/node_modules/kafka-node/lib/client.js:134:46
    at Array.forEach (native)

[2016-08-16 11:25] hyperlink commented on #446
What version of node are you running?

[2016-08-17 00:13] pcothenet commented on #440
Thanks for sharing your method, I was able to do something similar on my end.

That said, is one `done` by broker the behavior you expect?

[2016-08-17 03:34] jackfengji commented on #446
I'm facing the same issue. The node version is v0.12.14

[2016-08-17 06:57] nagarashish commented on #446
Node v0.10.42

[2016-08-17 15:41] hyperlink commented on #446
I will push out `0.5.6` soon to fix this.

[2016-08-17 16:03] #446 closed

[2016-08-17 16:48] samypr100 commented on #117
+1

[2016-08-18 04:21] m2studio opened #449 "FailedToRebalanceConsumerError: Exception: NODE_EXISTS[-110]"
I have a process to consumer messages from Kafka 24/7 and use forever on top to ensure my process will never stop and 100% alive.

But once I let my process run a few hours, I found that it stopped to consumer message (my process is still running but somehow there is no message consuming). Then I found these errors in my log file
**FailedToRebalanceConsumerError: Exception: NODE_EXISTS[-110]**
**F

[2016-08-18 14:08] hyperlink commented on #449
Looks like it failed to register the consumer with zookeeper.

Run your process with env `DEBUG=kafka-node:*` it will output a lot of debug information that may help.

[2016-08-22 09:21] sculeb commented on #116
I have the same issue. I have 2 kafka broker (0.10.0.1) and 1 zookeeper instance, all on the same vm and two client applications (producer and consumer) with kafka-node.

I was expecting the clients to automatically reconnect a running broker when I kill the one, that is used. I do catch the 'error'-event in both the producer and consumer and the thrown error isn't a kafka-node error but a node.js

[2016-08-22 09:25] sculeb opened #450 "node.js-error ECONNREFUSED when killing a broker"
I have the same or at least very similar issue as in #116 . I opened a new one because 116 is closed. I have 2 kafka broker (0.10.0.1) and 1 zookeeper instance, all on the same vm and two client applications (producer and consumer) with kafka-node (0.5.6) on my local machine.

I was expecting the clients to automatically reconnect to a running broker when I kill the one, that is used. I do catch t

[2016-08-22 10:41] inteloid commented on #116
what version are you using?

On 22 August 2016 at 13:21, Roen <notifications@github.com> wrote:

--
RGRDZ Harut

[2016-08-22 10:45] sculeb commented on #116
kafka-node 0.5.6
I created a new issue since this was closed. #450

[2016-08-22 14:24] hyperlink commented on #450
have you let it run and see if it recovers? Connection errors will throw errors but there's logic that will attempt to reconnect while the zk watch will refresh the brokers once it realized that killed broker is offline.

[2016-08-22 14:38] sculeb commented on #450
The node-application crashes, the process stops.

[2016-08-22 14:47] sculeb commented on #450
oh my....you're right! It does recover. Thank you for that hint. Kind of embarrassing lol
Thanks for the quick support.

[2016-08-22 14:47] #450 closed

[2016-08-22 17:14] ermel272 opened #451 "Producer sending to all partitions when partition specified"
Hi,

I am using a Producer/Client with default partitionType to send the following message:

`[ { topic: topicName, messages: JSON.stringify(message), partition: 0 } ]`

I know that partition 0 is specified by default, however I left it in there during my troubleshooting. My understanding is that in this case the message should only be sent to partition 0. However, the actual behaviour I see is th

[2016-08-22 19:20] hyperlink commented on #451
Make sure you're using the [Producer](/SOHU-Co/kafka-node#producer) and not the HighLevelProducer.

[2016-08-22 19:38] ermel272 commented on #451
I am currently using Producer - Here is my initialization code:

[code]

I am attempting to debug the issue to see if any more information can be provided for you.

[2016-08-23 14:46] sculeb commented on #451
Since I don't know how your 2 scripts look like in whole, try those 2 which work for me.

[code]

and consumer:

[code]

So the producer sends to partition 0, and the consumer consumes from partition 1. When you run it, you shouldn't receive data in the consumer as you only send to partition 1. You also can play around and add a payload in the producer with a message for partition 1. Then you only

[2016-08-23 19:24] ermel272 commented on #451
@sculeb @hyperlink I ran a few tests with Kafka-Nodes consumer (it's worth noting that I do not use the Kafka-Node consumer to consume these Kafka messages) and saw the behaviour you indicated. When I published a message to partition 0, the Kafka-Node consumer listening on partition 1 did not pick up any messages. Since I use an external Consumer - I checked the Kafka bus to ensure the data was in

[2016-08-23 19:24] #451 closed

[2016-08-25 14:47] kumar-b opened #452 "Consumers causing uncaughtException"
uncaughtException occurs in two scenarios -
1. When kafka server gets disconnected. (To reproduce : just start a consumer and then stop the kafka).
The consumer should be fault tolerant and should not cause the process to exit abruptly. The following error is seen in the above scenario
[code]
This also happens in cluster mode and one kafka server goes down but replicated servers are available.

2.

[2016-08-25 19:25] hyperlink commented on #452
You shouldn't be getting any uncaught exceptions if have an error handler on your consumer.

Could you give more detail on the error you're getting from zookeeper?

[2016-08-26 01:07] kumar-b commented on #452
I have an error handler which printed the first line
[code]

It captures the error. Still it causes the uncaughtException.

[2016-08-26 01:12] kumar-b commented on #452
This is error I am getting for consumer
[code]

[2016-08-26 11:00] kumar-b commented on #452
This is code snippet used
[code]

Steps to reproduce :
- Start zookeeper and kafka server
- Start above consumer
- Stop kafka server

The consumer throws uncaughtException.

Even I added an error listener for kafkaClient, still it throws exception.
[code]

[2016-08-26 11:31] kumar-b commented on #452
I debugged the issue a bit. Found out that it's happening because of no error handler for offset. When added error listener for offset, it got captured.

Is it because of some recent changes? Earlier we were not having any error handler for offset and it used to work smoothly. Is 'ECONNREFUSED' error valid for offset?

[2016-08-26 17:13] hyperlink commented on #452
kafka node will emit systems errors even though it will try it's best to recover from them by reconnecting. Since the Offset uses client broker like producer/consumer you will also need to listen to the error.

[2016-08-29 11:25] Lukeout opened #453 "Kafka Producer not sending messages, compatable with Python Kafka, Docker?"
I have a EXP web service that POSTs to a model service that then populates the DB, the model service then responds with the new data (just json) back to the EXP web service. On the EXP service I am trying to then push this new data to Kafka via a producer but it's failing, after console logging the producer I see that ready: 'false' so I think I'm never actually sending messages.

My consumer is u

[2016-08-29 12:40] Satyricon opened #454 "Duplicate messages in HightLevelConsumer"
Here is a simple HighLevelConsumer code for reproducing the problem

[code]

In case when there are at least 8000 messages in kafka topic output for messagesCounter goes up to 16 more items. For example for 10000 messages under the topic I am getting console output from 1 up to 10016. Duplicate messages are appearing around between 7000th and 10000th item and are always random but sequential.

Eve

[2016-08-29 12:51] Satyricon commented on #454
Another example which prints messages and counter on duplicates

[code]

And output example I am getting is

[code]

[2016-08-29 13:15] Lukeout commented on #453
After checking to see if my client or producer are ready it seems neither are ready. Is this a problem with how I'm connecting to the client? Does kafka-node support docker? I am using spotify/kafka which has built in zookeeper support. My docker-compose has this, so shouldn't the connection string be kafka:9092?

i.e client = new kafka.Client('kafka:9092'),

and the web service has a links: - kaf

[2016-08-29 13:39] Lukeout commented on #453
[31mexp       |[0m EventEmitter {
[31mexp       |[0m   ready: false,
[31mexp       |[0m   client:
[31mexp       |[0m    EventEmitter {
[31mexp       |[0m      sslOptions: undefined,
[31mexp       |[0m      ssl: false,
[31mexp       |[0m      connectionString: 'kafka:9092',
[31mexp       |[0m      clientId: 'kafka-node-client',
[31mexp       |[0m      zkOptions: undefined,
[31mex

[2016-08-29 13:44] hyperlink commented on #454
Do you have the code the produces this? It would help to create a test case with.

Does this issue happen if your `fetchMaxBytes` was larger? The default we have in the examples is `1024*1024`.

[2016-08-29 14:06] hyperlink commented on #453
- The `ready` event is only emitted once. So with the way the code is written you would only send a single message. It would be better to wrap the ready to around your code so it doesn't send a  request until the producer is ready.
- You may want to format your sample code with  markdown. It would make it much more readable
- We use docker to run our tests check out our [docker-compose file](https

[2016-08-29 14:10] Lukeout commented on #453
I don't get what you mean. I only want to send messages as they are created with a POST request is made. I am triggering the send on the request.then method.

I think my problem is with connecting to my kafka container? Or should I move the declaration of kafka into my POST method?

the full code here:
https://jsfiddle.net/0uak2nwd/

[2016-08-29 15:36] Satyricon commented on #454
Producer is Scala application, but it just adds uuid's to kafka topic (as you can see from my previous comment message value is just a uuid string). I tried with smaller `fetchMaxBytes` values, but not bigger ones as my message is just a uuid and it was still giving some duplicates even though less of them. I can try it tomorrow with bigger values.

[2016-08-29 15:37] hyperlink commented on #453
Since kafka is a dependency you need to ensure that's `ready` before you sending any messages. So you can either put that on top of your code and in your ready handler initialize your route or since you're using promises you can use a Promise wrapper similar to below.

[code]

Outside your route you can define:

[code]
Make sure you update your code to use the zookeeper address and not kafka broke

[2016-08-29 15:40] hyperlink commented on #454
I'll see if I can reproduce this. Thanks!

[2016-08-29 16:14] Lukeout commented on #453
Gonna be honest do not think I follow,

So I made a producer.js and I put the first chunk of your code in it ver batum (don't know what I would change) keep in mind I am using spotify/kafka (which has Zookeeper and Kafka together so I'm not sure of the settings to alter)

On the top of my route file for the post request I define

[code]

Then in my POST METHOD on the request-promise after getting

[2016-08-29 18:46] hyperlink commented on #453
The default kafka port is `9092`. The zookeeper port should be `2181`. Connecting to the kafka  broker won't emit a ready you should provide the zookeeper host to the client instead.

[2016-08-29 18:57] Lukeout commented on #453
Would I need to change anything in my docker-compose then? I think the thing tripping me up is using a docker image with zookeeper and kafka bundled together?

I changed: var producerReady = producerPromise('kafka:2181'); But I do not think it's sending to my python consumer as it prints out anything that is being sent to my new-listings-topic.

I know my python script is connected to my kafka con

[2016-08-29 20:27] hyperlink commented on #453
I would recommend you start with a very simple test file that just initializes a producer (see [examples](https://github.com/SOHU-Co/kafka-node/tree/master/example) folder) and see if you can produce to the kafka/zk container. You can use the kafka bin tools to verify messages are being received.

[2016-08-30 07:38] Satyricon commented on #454
I made couple of tests with 20.000 messages in kafka topic and different fetchMaxBytes values. Here are some observations:

fetchMaxBytes:   1*1024 - 20016 messages received
fetchMaxBytes: 10*1024 - 20165 messages received
fetchMaxBytes: 11*1024 - 20181 messages received
fetchMaxBytes: 12*1024 - 20198 messages received
fetchMaxBytes: 12300 - 20198 messages received
fetchMaxBytes: 12350 - 20199 mes

[2016-08-30 20:59] hyperlink opened #455 "TypeError: value is out of bounds (HLC Fetch Request)"
`v0.5.5`

[code]

[2016-08-31 03:24] zoluzo commented on #440
@pcothenet I got the same result. Consumer sends to all kafka brokers to fetch data.

[2016-08-31 03:32] zoluzo commented on #440
@hyperlink  A consumer will fetch data from more than one kafka brokers if partitions are on different brokers.
I think it is not right that consumer.emit('done') called once for each broker

[2016-08-31 03:41] zoluzo opened #456 "fail to setOffset when offsetOutOfRange"
when consumer gets offsetOutOfRange, it will offsetRequest and setOffset.

when setting offset [highLevelConsumer.js#L659](https://github.com/SOHU-Co/kafka-node/blob/master/lib/highLevelConsumer.js#L659), the code
[code]
will fail.

In this.topicPayloads, p.partition is string.
In arguments[1], partition is integer

[2016-09-01 00:45] #456 closed

[2016-09-01 13:23] gbarton commented on #440
Does anyone have an example gist of this method of getting effectively synchronous in order processing of messages via the async.queue style?  I've tried a few times and I cannot get exactly once processing yet.

[2016-09-01 13:24] gbarton commented on #371
Any updates on this one? Having the commit on the message and guarantee of order per partition is exactly how I am trying to use kafka.

[2016-09-01 13:54] #453 closed

[2016-09-01 13:54] #452 closed

[2016-09-01 14:22] tizzo commented on #371
I'm currently working on a PR - hoping to have some code to show in the
next day or two.

On Thu, Sep 1, 2016 at 9:24 AM, gbarton <notifications@github.com> wrote:

[2016-09-01 14:24] gbarton commented on #440
Alright, this might be working right, sanity check for those that know this better?  By wrapping the commit in a setImmediate, I appear to have synced commits now, is that because the callback is effectively called and trapped in the same tick as the message handling now?

[code]

[2016-09-02 16:17] rcarmich opened #459 "Code not working after 0.5.x upgrade"
Starting at 0.5.0, the following test code stopped working. It works in 0.3.2 and 0.4.0.

[code]

The topic looks like this:
[code]

When working (0.4.0 and below), onMessage is called with some kafka messages. When it doesn't work (0.5.x), the following is the output with DEBUG=*:

[code]

[2016-09-02 16:26] rcarmich commented on #459
BTW my kafka is running standalone, version 2.10-0.8.2.1 in this test case.

[2016-09-02 16:26] hyperlink commented on #459
There's an offset related fix that's currently in master can you point `kafka-node` to master `SOHU-Co/kafka-node` and see if the issue is resolved?

[2016-09-02 16:45] rcarmich commented on #459
Hmm.. With master, the debug output is different (looks like 2 rebalances maybe) but still no messages firing in on('message').
[code]

[2016-09-02 19:15] hyperlink commented on #459
Are you running into the same issue with kafka `0.8.2.2` ?

[2016-09-03 15:42] rcarmich commented on #459
Okay in 0.8.2.2 it seems to deliver all the messages (since offset 0, no matter what offset I specify) but at least it is delivering messages. Maybe I have the syntax wrong for specifying which offset to start from.

[2016-09-05 13:11] ravisoni6262 opened #461 "I think this lib does not support replication factor support for new topics being created!!"
I know this could be not a bug or a improvement please forgive me !!
I am exploring this lib and trying finding the replication factor option to replicate newly created topic to all available brokers using replication factor option Or does this option is named differently.

[2016-09-06 14:06] hyperlink commented on #461
I don't think this is currently possible. PRs welcome!

[2016-09-07 08:38] 602884291 opened #462 "客户端加密链接服务器"
请问可以配置用户名和密码连接kafka服务器吗

[2016-09-08 08:23] indigodp commented on #459
Hi, have similar problem with Highlevelconsumer with kafka 0.9.0.1. The problem has gone after upgrade kafka-node library from 0.5.6 to 0.5.7 version.

[2016-09-08 09:12] itamarwe commented on #319
It seems like the fix only handles the `fetch` function.
How about fixing it in the `sendProduceRequest` as well?

I'm encountering this problem when reassigning partitions. When I producing I get the `UnknownTopicOrPartition` error and no `brokersChanged` event is firing.
@hyperlink

[2016-09-08 14:33] Foo42 commented on #408
We were experiencing the same loop and diagnosed the issue to be a type mismatch between the offset numbers returned from zookeeper and those in the payloads list (number in payloads, string from zookeeper). We were preparing a pull request and then noticed it had been fixed in https://github.com/SOHU-Co/kafka-node/commit/2747d7ca743b86caef4062bd7e137dd8a70aa253

[2016-09-08 15:34] hyperlink commented on #319
@itamarwe do you mind create an issue for this? Also PRs are welcome if you want to fix this.

[2016-09-09 09:40] Satyricon commented on #454
any update on this one?

[2016-09-09 15:02] hyperlink commented on #454
I found one case that's caused by queued rebalance after registering itself to the consumer group. The fix is not straightforward as I expected since it also causes intermittent failures with a rebalance test. This was added in `0.5.4` so I am not sure it's the same cause. I will try to fix this case first and circle back to see if it still happens.

[2016-09-09 18:14] hyperlink commented on #454
@Satyricon can you point your `kafka-node` module to `SOHU-Co/kafka-node#fix-unscheduled-rebalance` and see if you're still running into this issue?

[2016-09-09 18:18] hyperlink commented on #459
Hi @rcarmich are you still running into issues with the latest version?

[2016-09-12 15:20] #454 closed

[2016-09-12 15:50] rcarmich commented on #459
Actually 0.5.7 seems to be working great. Thank you.

[2016-09-12 15:50] #459 closed

[2016-09-14 16:19] hyperlink opened #467 "Implement Kafka's broker based consumer groups"
PR is up!

[2016-09-18 22:37] groyee opened #468 "It just doesn't work"
I wanted to make a list of the things that are not working but the list is really too long.

Worst thing is that  I wrote a consumer and it worked great. I stopped for several minutes and without modifying anything else it just stopped working. Not retrieving any messages. And then one day it suddenly works again. So sometimes it works and sometimes it doesn't.

Just out of curiosity I wrote anoth

[2016-09-21 19:30] rakesh190 opened #469 "Leader is not elected when one of the three brokers are down"
Hi,
I'm using three brokers with 5 partitions for my topic to push messages to kafka queue, but when of the leader is going down, the leadership to another broker is not mitigated, is there any approach to tackle this situations, I've been working on this from very long time but couldn't crack it.

[2016-09-23 15:37] hyperlink commented on #469
Do you get an error emitted from the module when this happens?

[2016-09-23 15:41] travismcchesney commented on #297
@peterjuras I'm curious if you ever got any resolution on this. I'm having the exact same issue, not even necessarily under heavy load.

Any help (from anyone, really) would be much appreciated.

Thanks!

A sampling of errors:

[code]

[2016-09-23 16:05] hyperlink commented on #297
@travismcchesney the client should automatically reconnect if it loses connection with the kafka broker.

[2016-09-23 17:25] rakesh190 commented on #469
Yes, it says leader is not available error even though other broker is up. It is still trying to connect the one which is down, out of five partitions one broker is allocated to one partition and rest four partitions allocated to other brokers.
![broker error](https://cloud.githubusercontent.com/assets/14300554/18795141/f7adfc36-8177-11e6-966d-460ce834c254.png)

[2016-09-23 22:33] rakesh190 commented on #469
I have manually brought down one of the brokers out of three and when I restarted I could see 'client is ready' and 'producer is ready' from 'client.on' and 'producer.on' functions but when I'm sending a message I'm getting leader not available error. I simulated this scenario to test my service, how it will behave when one of the brokers are down and I got this error.
![leadernot](https://cloud.g

[2016-09-23 22:42] hyperlink commented on #469
Re reconnecting there should be a zookeeper `brokerChanged` event that fires to tell the client to refresh it's broker list and tells the producer to clear it's metadata.

How does kafka's console producer behave when you take down a broker?

[2016-09-23 23:05] rakesh190 commented on #469
Below are the producer objects when one of the broker is down and getting leader not available error and when all the brokers are up and messages are sending:

**When one of the broker is down:**
EventEmitter {
  ready: true,
  client:
   EventEmitter {
     sslOptions: undefined,
     ssl: false,
     connectionString: '173.36.80.223:2181,173.36.80.148:2181',
     clientId: 'kafka-node-client',

[2016-09-23 23:20] peterjuras commented on #297
It does automatically reconnect, but you have to try/catch it. You also have to send a message again after an error.

[2016-09-25 20:22] vanthome opened #470 "Support Binary Data"
While Kafka supports binary data, this module only seems to support text based data.
It would be great if you could support binary data based on streams and buffer.

[2016-09-25 21:18] hyperlink commented on #470
Have you tried setting the `encoding` option to `buffer` ?

[2016-09-26 05:20] vanthome commented on #470
will try and let you know

[2016-09-26 05:32] pcothenet commented on #470
I've been using this module with Avro for a couple months, works great.

[2016-09-26 06:23] Black-Star commented on #469
+1

[2016-09-26 06:42] Black-Star commented on #48
@hyperlink
Hi, I am using version  0.5.8
[code]

Post this error, lag is being created at topics and I need to manually restart the entire process for this.

My current configuration is
[code]

Below is the code where i am reading consumer process.

[code]

It would be great if consumer is reconnects and start consuming data after some time.

Thanks,
Ravi

[2016-09-26 07:13] hyperlink commented on #48
Are you consuming on specific partitions? Could you try with the highLevelConsumer? That's the one that's most tested against failures.

[2016-09-26 10:51] Black-Star commented on #48
Thanks @hyperlink ,
Will try with high level consumer and let you know if problem persists.

[2016-09-27 18:33] rakesh190 commented on #469
@hyperlink @Black-Star  is there a potential solution or approach to tackle with this particular scenario?

[2016-09-27 18:42] hyperlink commented on #469
The producer should eventually recover after it loads the topic metadata. It's up to the send messages resend any failed messages through the producer.

Are you seeing behavior where it's not recovering eventually?

[2016-09-27 18:43] hyperlink commented on #470
@vanthome did setting the encoding option to buffer work for you?

[2016-09-27 18:53] rakesh190 commented on #469
Nope, it is behaving the same way, it is still trying to reconnect with the broker that has been brought down even though other brokers are up, if you can observe  topicMetadata: {}, topicPartitions: {} are not getting refreshed.  When I'm doing clientProducers.brokerMetadata broker metadata is getting refreshed  but not topicMetadata and topicPartitions.

[2016-09-27 19:07] hyperlink commented on #469
Hmm then it's possible this scenario wasn't tested. I've focused a lot of effort on making the highLevelConsumer recoverable I haven't tested producer myself.

So when this happens you should halt sending messages and manually fire of a request to `client.loadMetadataForTopics`.

[2016-09-27 19:31] MedGhassen commented on #470
@hyperlink @vanthome  I have tried setting the Encoding Option in the Consumer to 'buffer' and it is working fine . Thank you very much.
It could be very nice to  enhance the documentation by saying that it is possible to transfer binary data through buffers by setting the encoding option of the Consumer and that NO prior setting for the producer are required .
In other word that it does not depen

[2016-09-27 21:26] rakesh190 commented on #469
Hey @hyperlink , thanks for your help and time.
Would you mind sharing a sample arguments for the below function i.e. topics and cb ?

client.loadMetadataForTopics(topics, cb)

[2016-09-28 03:14] hyperlink commented on #469
Actually now that I think about it's better if you called `client.refreshMetadata(topics, cb)` instead. And the `topics` argument is just an array of topics.

[2016-09-28 04:10] rakesh190 commented on #469
I have used the above function in following way but it is throwing me an error:

clientProducers.refreshMetadata(['decision-service-logs'],function(err, rs){
            if(err){
                console.log(err);
            }else{
                console.log(rs);
            }
        });

![kafkabrokererror](https://cloud.githubusercontent.com/assets/14300554/18900527/da361c92-84f6-11e6-9d2a-266

[2016-09-28 13:53] hyperlink commented on #469
@rakesh190 could you try calling `refreshMetadata` after you receive a `brokersChanged` event from the `client`?  This will ensure that the module has access to the latest list of brokers from zookeeper before you attempt to load the metadata.

[2016-09-29 22:31] rakesh190 commented on #469
@hyperlink, thanks a lot for the suggestions and I really appreciate you help in resolving this particular issue.
I have used the brokersChanged event in the following way:
var clientProducers = new kafka.Client("<kafka broker values>");
clientProducers.on('brokersChanged', function(err){
            console.log('hii')
            if(err){
                console.log(err);
            }else{

[2016-09-29 23:34] travismcchesney commented on #297
Thanks @hyperlink and @peterjuras !

Is there some way to smartly retry in this case? Meaning, I suspect I need to wait until the connection is re-established, but how can I know when that is?  Do either of you have an example of a robust way to handle this case?

I currently just log the producer error, like so:
[code]

Typically I will see this error print first, then I'll get an app level error

[2016-09-30 06:07] chetangautam commented on #237
Does kafka-node supports deleting a topic?
Can we use function removeTopics for deleting a topic?

[2016-09-30 07:02] hyperlink commented on #237
Creating topics relies on a broker setting for auto creating topics when you request the metadata for those topics.

I am not aware of any way to delete topics. We can only add functionality to this module based on what's exposed by the Kafka [protocol](http://kafka.apache.org/protocol.html).

[2016-09-30 07:02] #237 closed

[2016-09-30 07:11] hyperlink commented on #297
The client will emit a connect or [reconnect](https://github.com/SOHU-Co/kafka-node/blob/master/lib/client.js#L599) perhaps you could uses these events to retry those failed messages.

[2016-09-30 08:37] chetangautam commented on #237
So what is removeTopics functions use?

[2016-09-30 13:21] hyperlink commented on #237
In the context of the consumer it's to remove topics to listen to.

[2016-10-03 14:08] #470 closed

[2016-10-03 16:08] hyperlink commented on #421
I think we may have fixed this in 0.5.7. Could you verify?

[2016-10-05 21:59] borushka commented on #179
Having same problem. Can you explain what was the issue?

[2016-10-06 09:26] deldim1 opened #478 "consumer / (high level consumer) doesn't work over SSL"
Kafka 0.9 supports SSL in NewConsumer API only.
looks like current consumer implementation in kafka-node is based on old API.
:(

[2016-10-06 12:26] hyperlink commented on #478
What makes you say it doesn't support it? We've been using SSL and highLevelConsumer for awhile now.

In any case I have a PR up for the new consumer hope to have it released soon.

[2016-10-06 15:15] deldim1 commented on #478
Hi,
I disabled plain text mode on kafka server and  configured SSL.
I have number of java clients connecting to this server and one node js
uses kafka-node.
All my java clients use newConsumer API and connect to kafka machine
~kafkahost:9092

But kafka-node clients connect  to the zookeeper:2181.
All kafka-node produsers work well,
But kafka-node consumers can't receive messages.

Before switching

[2016-10-06 15:19] hyperlink commented on #478
Could you show some example code on how you connect the consumer?

There's really no change in kafka API to use SSL-- it's just connecting to a different port with a TLS socket.

[2016-10-06 16:36] hyperlink commented on #455
Have not seen this issue occur since 0.5.7 was released.

[2016-10-06 16:36] #455 closed

[2016-10-06 17:00] deldim1 commented on #478
Hi,
something like that:
.....

    function initConsumer(topic, f) {
        logger.info("initConsumer", topic);
        var Consumer = kafka.Consumer,
            client = new
kafka.Client(connectionUrl,"something",undefined,undefined,{
rejectUnauthorized: false } ),
            consumer = new Consumer(
                client,
                [{topic: topic, partition: 0}],
                {

[2016-10-06 17:56] deldim1 commented on #478
full code example:

config.js:
kafkaConnectionUrl = 'xxx.xxx.xxx.xxx:2181';

kafkaManager.js:

var kafkaManager = (function () {
    require('../config.js')
    var log4js = require('./logger.js');
    var logger = log4js.getModuleLogger();
    var kafka = require('kafka-node');
    var socket;
    var setSockeIO = function (o) {
        socket = o;
    }
    function handleKafkaError(error) {

[2016-10-06 17:58] hyperlink commented on #478
After the client is ready could you `console.log` the contents of `client.brokerProfiles` and `client.ssl` ?

Also what version of kafka are you using?

[2016-10-06 18:08] deldim1 commented on #478
client.ssl =true
I use Kafka server 0.9.
And the broker . list I will check. 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Xiaoxin Lu <notifications@github.com> Date: 10/6/16  20:58  (GMT+02:00) To: SOHU-Co/kafka-node <kafka-node@noreply.github.com> Cc: deldim1 <daniel.delion@gmail.com>, Author <author@noreply.github.com> Subject: Re: [SOHU-Co/kafka-node] consum

[2016-10-07 20:22] sakolinkirill opened #479 "looses messages on network issues"
I'm sending multiple single messages on the same topic (10 messages/sec). Everything works fine unless I start imitating network issues (running single kafka instance on VM and switching network adapter to "not attached" and back). During each disconnect 1-2 messages are constantly lost. They are not caught neither by producer error listener, nor by send callback. "requireAcks" parameter makes no

[2016-10-07 20:41] hyperlink commented on #479
The producer doesn't have a client side request timeout. Take a look at #289

[2016-10-09 07:44] deldim1 commented on #478
Finally i got it work.
The client.brokerProfiles was undefined.

[2016-10-09 07:45] #478 closed

[2016-10-10 10:45] quorak opened #480 "Add Timestamp to Producer Payload"
hey @hyperlink,

great packages. much appreciated.
Do you have plans to integrate the new timestamp feature into the producer payload anytime soon?
https://cwiki.apache.org/confluence/display/KAFKA/KIP-33+-+Add+a+time+based+log+index

would be great to have.
thanks again for your efforts. cheers.

[2016-10-10 15:16] hyperlink commented on #480
Hello! Thanks for your kind words.

My focus now is to get the new consumer group released and fixing any issues related to it.  I have no plan to work on this feature at the moment but don't let that stop you from implementing it. I welcome new contributions to this module. My overall goal is to try to move this module past the kafka 0.8 world it has languished in. 👍

[2016-10-10 16:09] #467 closed

[2016-10-10 17:01] rakesh190 commented on #469
Any update on this bug?

[2016-10-10 19:04] hyperlink commented on #469
Sorry @rakesh190 I haven't had a chance to look at it yet. Was busy putting out 1.0.0 with the new Consumer Group. I'm hoping to look at this and other producer related issues for the next release.

[2016-10-11 10:25] houssemFat opened #482 "kafka Broker Sasl support"
Hi ,
I'm wonder if the library currently support (or plan to support) SASL authentication connection (use case IBM Message Hub).

[2016-10-13 14:49] hyperlink commented on #482
I have no plans to implement this if you are interested in implementing it PRs are welcome!

[2016-10-14 15:19] sanear commented on #468
We have been using this in production for about 18 months at my company. If it has been "production tested," it certainly shouldn't have passed. We have had nothing but problems - some similar to those you describe, and some of our own (the latest is seemingly unprompted offset resets, causing our processors to requeue tens of thousands of messages - just like we wanted).

I'd go with the Python o

[2016-10-18 18:56] rafaelgondim opened #486 "CONNECTION_LOSS on new consumer (after closing older one)"
The scenario:
I'm listening for changes on the topics on zookeeper, when I get the event I close the consumer and try to start a new one subscribing for new topics, I try because I'm getting this error:

[code]

For listening the change on zookeeper I'm using this:
[code]

Elsewhere I'm getting the "topics" event:
[code]

Suggestions?

[2016-10-18 19:03] hyperlink commented on #486
Don't share the client instance. When the consumer is closed it will also close the client it used  along with the zookeeper client.

[2016-10-18 20:05] rafaelgondim commented on #486
Worked!
Thank you

[2016-10-18 20:05] #486 closed

[2016-10-19 12:30] yatendernitk opened #487 "FailedToRebalanceConsumerError: Exception: NODE_EXISTS[-110]"
kafka-node:zookeeper Node: /consumers/my-group/ids/my-consumer-id-3 was created. +0ms
  kafka-node:HighLevelConsumer rebalance() my-consumer-id-3 is rebalancing: false ready: false +2ms
  kafka-node:HighLevelConsumer Deregistered listeners my-consumer-id-3 +2ms
  kafka-node:HighLevelConsumer Registered listeners my-consumer-id-3 +0ms
  kafka-node:HighLevelConsumer HighLevelConsumer my-consumer-id-

[2016-10-19 12:31] yatendernitk commented on #487
I have attached the debug logs .. while restarting sometimes it comes please help me is there something I am doing it wrong or this is known issue.

[2016-10-19 12:34] yatendernitk commented on #487
process.on('SIGINT', function () {
    highLevelConsumer.close(true, function () {
        process.exit();
    });
});

this also I have added in my code

[2016-10-19 19:06] hyperlink commented on #487
Could you try the new [ConsumerGroup](https://github.com/SOHU-Co/kafka-node#consumergroup)? It works very similarly to HighLevelConsumer but doesn't suffer from issues dealing with Zookeeper.

[2016-10-20 14:20] postmann opened #488 "Wrong commit order when using autoCommit=false in HighlevelConsumer"
I'm using a HighlevelProducer and HighlevelConsumer to send and receive Messages. The HighlevelConsumer is configured with autoCommit=false as I want to commit Messages only when it was produced successfully. The problem is, that the first message never really gets commited.

Example:
* Send Messages 1-10.
* Receive Message 1
* Receive Message 2
* Commit Message 2
* ...
* Receive Message 10
* Comm

[2016-10-20 21:02] hyperlink commented on #488
Hi Peter.

Each fetch retrieves a batch of messages which are synchronously emitted as a `'message'` event. After that is `'done'` [the internal offsets are updated](https://github.com/SOHU-Co/kafka-node/blob/master/lib/highLevelConsumer.js#L309).

When you call `commit` it commits the offsets stored in the internal offset. So when you commit while inside the message handler you are committing the

[2016-10-21 14:04] ezarya opened #489 "Consume using broker list"
Hi,
If I'm not mistaken right now `kafka-node` can consume through zookeeper only.
Are there any plans to support broker list?

[2016-10-21 14:15] hyperlink commented on #489
The new `ConsumerGroup` will be the only consumer type that could support broker list and we will need to disable high level consumer migration feature since that depends on zookeeper.

I don't have plans to work on it at the moment but if anyone wants to submit a PR I will be glad to review.

[2016-10-26 12:04] gogorush commented on #449
I had the same issue.  The doc says it is the problem of **FailedToRebalanceConsumerError: Exception: NODE_EXISTS[-110]**

@m2studio How did u start your program with forever? In my case, I started 20 instances of node threads with a shell script and random error occur within those 20 instances. But if I started those instances with a few time delayed for each threads would solve this problem.

I

[2016-10-26 17:23] hyperlink commented on #449
A stack trace of the `NODE_EXISTS[-110]` error may help isolate the issue.

Also have you tried using the new [Consumer Group](https://github.com/SOHU-Co/kafka-node#consumergroup)? It's very similar to HLC and should not suffer from these `NODE_EXISTS` issues.

[2016-10-27 04:39] gogorush commented on #449
@hyperlink My kafka version is 0.8.2 so that I can't use Consumer Group. Gonna have a deep look at this issue later.

[2016-10-28 09:54] jbmusso commented on #415
Greetings - Using `v1.0.1` here, I'm also facing this issue when connecting a `ConsumerGroup` to a single-broker kafka cluster. When that single broker goes down, the Node.js process crashes with the following error:

[code]

[2016-10-28 13:00] postmann commented on #488
Hm, ok, thanks. Seems like solving my problems using nodesjs and kafka is not the ideal solution :)

[2016-10-28 13:00] #488 closed

[2016-10-28 17:29] nathanph commented on #420
:+1: Interested in seeing wildcard support.

[2016-10-31 17:40] hyperlink opened #496 "Uncaught exception in client.brokerForLeader when broker is killed"
As reported in a [comment](https://github.com/SOHU-Co/kafka-node/issues/415#issuecomment-256881834) in #415

[2016-11-01 01:49] bfmnorman commented on #354
I ran into this problem today, and I was able to get around it by calling `client.loadMetadataForTopics([topic])` and then calling `client.updateMetadatas(metadata)` in the callback function. After calling that, I called back my own callback saying that the producer is ready to use.

I did all this with several promises, so it might be more difficult to do with just using callbacks. Basically, I d

[2016-11-01 15:41] sergeyjsg opened #497 "Async consumer example [Question]"
Does anyone has ready to use example of consumer with BACK PRESSURE? I read in docs that I can use async library. But still don't really understand where to put consumer.pause() method. This also can be added to docs, since I think this is most common use case. Thanks!

[2016-11-01 16:34] hyperlink commented on #497
Your message handler should call to `consumer.pause()` and push the message to the queue.

[2016-11-01 18:18] #496 closed

[2016-11-01 20:42] hyperlink commented on #415
@jbmusso I pushed out a fix. Could you verify the latest `v1.0.4` is working for you?

[2016-11-01 21:15] manor21 opened #502 "how do i can commit messages by offset with consumerGroup"
Hi ,
when I used the regular consumer , I did :
offset.commit(groupId,topics,function(){})
for committing specific offsets.
topics is array of:
{topic: test, offset: 5} for example.
now I want to do the same with consumerGroup , but i need the client object for initial the Offset object and the consumerGroup hides the client object.

how can I handle this?

thanks

[2016-11-01 21:19] hyperlink commented on #502
Just curious what's your use case for manually committing the offsets? You should be able to access the Client by the `client` attribute off the consumer. for example: `consumerGroup.client`

[2016-11-01 21:26] manor21 commented on #502
My consumer needs to deliver the messages to third party, and I will commit the message only if it succeeded.
I hope i do it wright.

[2016-11-01 22:32] samypr100 commented on #238
+1

[2016-11-02 08:59] manor21 commented on #502
Hi,
I have extra question,
I do not find how to consume from specific partition , where I can configure that?

thanks

[2016-11-02 13:42] hyperlink commented on #502
Both `HighLevelConsumer` and `ConsumerGroup` will consume on all partitions. If you want to consume from a specific partition you should use a `Consumer` where you can define a `partition` attribute into the payload.

I have not manually committed before but I would imagine it would work something like this:

- Turn autoCommit off
- Create an buffer of messages
- `pause()` after receiving the firs

[2016-11-02 13:58] hyperlink commented on #238
It's not documented but you can call `client.loadMetadataForTopics` with a blank topic array to get the entire list of available topics (and available brokers).

This maybe more future proof than querying zookeeper since this is a request using the kafka protocol.

[code]

[2016-11-02 13:58] #238 closed

[2016-11-02 15:34] sergeyjsg commented on #497
Ok, I have a following snippet:
[code]
const consumer = new Consumer();
consumer.consume('some_topic', 4, topicMessageHandler);

async function topicMessageHandler (message: SomeMessage, done: Function): Promise<void> {
    logger.info(`Got message ` + JSON.stringify(message));

   // handler code here
   return done();
}
[code]

[2016-11-02 17:36] hyperlink commented on #497
I don't know if this is necessary but after processing the message we set the queue's `cb` to be called called inside of a `setImmediate` as to not block the event loop.

Also, calling `close` on an error seems a bit excessive. There's a logic in the module to handle intermittent connection failures with either zk or kafka. I would only close and create a Consumer on a `FailedToRebalanceConsumerEr

[2016-11-02 19:23] hyperlink opened #504 "Killing the broker can cause an uncaught exception in ConsumerGroup"
### Steps to reproduce:

1. Start ConsumerGroup and wait till connected to broker
2. Kill the java process: `docker exec -it kafkanode_kafka_1 bash -c "pkill java"`
3. Process exits from an uncaught exception instead of retrying to connect

[2016-11-03 13:43] #504 closed

[2016-11-04 14:04] sergeyjsg commented on #497
I updated an example, but not sure about those two lines:
`const failedToRebalanceConsumerError = err.message && err.message.includes('FailedToRebalanceConsumerError');
const leaderNotAvailable = err.message && err.message.includes('LeaderNotAvailable');
`

[2016-11-06 12:25] manor21 opened #509 "ConsumerGroup : commit specific offsets"
Hi,
I work with kafka 0.10 , I produce messages with:
./bin/kafka-console-producer.sh --broker-list localhost:9092 --topic test3

and I use the consumerGroup.
my options:
     {
        host: 'localhost:2181',
        groupId: groupId,
        sessionTimeout: 15000,
        protocol: ['roundrobin'],
        fromOffset: 'earliest',
        autoCommit: false,
        encoding: 'utf8'
    }
I tried t

[2016-11-06 12:46] manor21 commented on #502
thanks,
As what I read , the kafka himself manage the offsets now and not the zookeeper,
if will work with the simple consumer, it will let the zookeeper manage the offsets no? and as I understood the consumerGroup is for the kafka 0.9+
my kafka is 0.10.

I notice that the consumerGroup host is the zookeeper , and I wonder why not the kafka against the kafka consumer example :
./bin/kafka-console-

[2016-11-07 01:42] hyperlink commented on #502
Good questions @manor21.

You are right the `Consumer` uses version 0 of the [offsetCommitRequest](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-OffsetCommitRequest) which is kept in zookeeper.

The consumerGroup was written with the goal of making it easy to migrate from highLevelConsumer (with minimal changes). With that in mind the zook

[2016-11-07 01:45] hyperlink commented on #509
oh, don't do that. I wasn't even aware of the Offset had a commit method. It looks like it uses version 0 as we have discussed in the other thread.

[2016-11-07 07:33] mlanandnair opened #510 "kafka highlevel consumer consume all datas in the topic for the first when app starts"
For my application I am sending 4 json data to kafka topic and that data is inserted to postgres database as realtime. When i start the app for the first time, consumer consumes all data in the queue,say if there is 100 offsets all data will be consumed, whether i inject the data into kafka or not. After that when i insert 4 objects they are transacted correctly to database. What can be the reason

[2016-11-07 08:09] manor21 commented on #509
Hi thanks for the response!

Is there another way to work with the ConsumerGroup without using auto commit (commit manually specific offsets)?

Just to clarify, I'm writing my consumer from scratch with Kafka 0.10, there is no need for migration from an old deprecated consumer. But I do need to control the commits and not auto commit. What to you suggest is the best use of the kafka-node for my ne

[2016-11-07 14:11] hyperlink commented on #510
By default the HighLevelConsumer will start consuming from the earliest offset available. If you want to consume from earliest you'll need to do it [manually](https://github.com/SOHU-Co/kafka-node#for-a-new-consumer-how-do-i-start-consuming-from-the-latest-message-in-a-partition). If you use the new ConsumerGroup you can define an attribute `fromOffset` in the options to control this which can tak

[2016-11-07 14:14] hyperlink commented on #509
You can turn autoCommit off in the `ConsumerGroup` by setting `autoCommit` to `false`. Majority of the settings in the HighLevelConsumer should still apply to `ConsumerGroup`.

[2016-11-08 11:10] mlanandnair commented on #510
Thank you sir , I have done it manually. Is there are upgrade like setting the offset flag to "latest" for HighLevelConsumer.

[2016-11-09 13:57] schrepfler opened #511 "Kafka-node security features"
Does kafka-node support any of the authentication methods supported 1) Kerberos (SASL+kerberos), 2) SSL Certificates 3) username+password (SASL). In general which security feature does kafka-node intend to support?

[2016-11-09 14:50] hyperlink commented on #511
For now kafka-node only supports encryption between client and brokers using SSL.

Other security features will be determined by the will of the community. There's an issue #482 open for SASL.

[2016-11-09 14:59] hyperlink commented on #510
`fromOffset` "latest" and "earliest" is not available in the HighLevelConsumer only in the ConsumerGroup.

[2016-11-09 14:59] #510 closed

[2016-11-09 15:08] #502 closed

[2016-11-09 15:08] #509 closed

[2016-11-09 19:01] schrepfler commented on #511
Would it have to be internal to kafka-node or it can be based on external libs like https://github.com/jaredhanson/js-sasl or https://github.com/nikhilm/sasljs?

[2016-11-09 22:32] hyperlink commented on #511
I have no idea what is involved. I have implemented SASL EXTERNAL in XMPP before but I have no idea what is involved with SASL Kerberos or PLAINTEXT.

[2016-11-11 15:49] mdlavin opened #512 "Exception thrown from encodeLeaveGroupRequest using new consumer group client"
While running a new consumer group client, I saw the following exception thrown from the kafka-node library

error: [MessageWorker] UNCAUGHT EXCEPTION loggerName=global, timestamp=2016-11-11T15:43:35.481Z, logLevel=error, stack=TypeError: Cannot read property 'length' of null
  at encodeLeaveGroupRequest (/Users/mattlavin/Projects/realtime-service/node_modules/kafka-node/lib/protocol/protocol.js:8

[2016-11-11 20:15] #512 closed

[2016-11-11 20:53] jwthomp commented on #371
Has this gone anywhere?

[2016-11-12 14:58] lenzenmi opened #514 "How do you publish binary data?"
The documentation mentions how to consume binary data. It does not say how to produce one.

Sending a buffer or Uint8Array sends only their string representation.

[2016-11-13 17:15] mdnorman opened #515 "Issues sending multiple messages with HighLevelProducer"
We are having trouble sending multiple messages to the same topic & partition with the HighLevelProducer. It's only sending the first message in the partition.

Here's our setup:
- Using **HighLevelProducer** with the **keyed** partitioner type
- Sending multiple payloads in an array to the **send** function
- Each payload has a topic, a key, a single **KeyedMessage**, and a compression attribute

[2016-11-14 15:59] SimenB commented on #487
Seeing the same issue (I think) after going from 0.5.7 to 1.0.5. We are using kafka 0.8, so using ConsumerGroup isn't an option

[2016-11-15 15:18] hyperlink commented on #514
It looks like the code from #29 is still in place.  Try setting the `messages` attribute in the payload to be a `Buffer`. Does this not work?

[2016-11-15 20:16] hyperlink commented on #515
Could you create small test case to reproduce this?

Sounds like the issue could be fixed by updating the `buildPayloads` method to normalize the payload by topic partition and attributes.

[2016-11-16 02:22] lenzenmi commented on #514
Thanks for the tip. A `Buffer` object does work. I was trying to send a `TypedArray` and the associated `.buffer` attribute of the `TypedArray` with no luck.

Doing this works:
`messages: Buffer.from(data.buffer)`

It would be nice to have a note in the documentation like there is for consuming a binary message:

how do I publish binary data?
Set the `messages` attribute in the `payload` to a `Buf

[2016-11-16 02:55] mdnorman commented on #515
[code]

[2016-11-16 02:57] mdnorman commented on #515
Added the test above.

Also notice that the metadata for a topic needs to be updated on the client before you can use the keyed partitioner. this is something we get around by just doing the update ourselves, but it was kind of tough to find the issue there.

[2016-11-16 03:48] hyperlink commented on #515
I think the partitioners need the total number of partitions in a topic in order to calculate the partition to assign and that's retrieved from a call to `client.refreshMetadata()`.

So I took a stab at fixing this. Maybe you point your `package.json` to `SOHU-Co/kafka-node#payload-normalize` and see if the issue persists or if you find any new issues? Basically my change just tries to normalize t

[2016-11-16 03:59] #514 closed

[2016-11-16 06:51] gogorush commented on #487
@hyperlink I run into the same issue with this high level consumer rebalance issue. So I changed into ConsumerGroup with kafka 0.9. But when I run my application on several machines, only the first one can consumer data from kafka. Is that a bug or did I do anything wrong ?

[2016-11-17 10:19] antjkennedy opened #518 "Producer.createTopics sync flag ignored"
When calling `producer.createTopics(['t1'], false, cb)` the async flag is ignored with the method returning immediately

[code]

[2016-11-17 15:11] hyperlink commented on #518
I don't like this `async` parameter.

It's not clear to me what it's supposed to do. It looks like when `true` it will yields after the first attempt to create the topic  (though it's not really creating a topic just fetching the metadata and letting kafka auto create it) and if `false` it will continue to make attempts and yields until fails or it's successful.

I'm inclined to remove this flag o

[2016-11-17 21:44] hyperlink commented on #487
If you have a good stacktrace you can find out which zookeeper node exists. It usually happens during registration or rebalance.

[2016-11-18 14:12] SimenB commented on #487
@hyperlink The stack trace is async, not alot of help

[code]

[2016-11-18 14:13] SimenB commented on #487
Is it possible to get better traces?

[2016-11-18 14:23] mdnorman commented on #515
Thank you so much for the really quick turnaround. I've tested this in the code path that was breaking before and it appears that this is exhibiting the correct behavior. After looking at the diff, I think this solution makes a lot of sense.

[2016-11-18 14:29] hyperlink commented on #487
Looks like it failed at `addPartitionOwnership` where it checks the partition wasn't owned and then  tries to add ownership in zookeeper but as it does zookeeper is saying it's already there.

I would check that zookeeper path it's trying to create and see if it's possible to track which session/instance owned that node.

I don't know of a way to get better stack traces but you can get longer stac

[2016-11-18 14:32] SimenB commented on #487
We never had this problem using 0.5.7. Is this `node-kafka` surfacing an error it swallowed before, or is it an actual regression?

[2016-11-18 14:41] hyperlink commented on #487
Are you seeing the issue in 0.5.8 or 0.5.9?

We're still using the highLevelConsumer in production and haven't seen these issues though I can double check our logs.

[2016-11-18 14:53] SimenB commented on #487
It's a bit hard to say, it doesn't happen all the time.

The last time it happened, 2 out of 4 replicas failed (but after deleting the pods, the new ones were fine). After a deploy just now, all 4 were fine.

[2016-11-18 14:54] hyperlink commented on #515
Thank you for testing. I will work on getting this published soon.

[2016-11-18 15:05] #518 closed

[2016-11-18 15:05] #515 closed

[2016-11-18 17:31] hyperlink commented on #518
published in `1.0.7`

[2016-11-18 17:31] hyperlink commented on #515
published in `1.0.7`

[2016-11-23 16:02] sandy-adi commented on #217
@hyperlink what does it mean by `snappy is optional`? If I'm a package dependent on kafka-node how can I avoid being dependent on Snappy?

[2016-11-23 21:33] hyperlink commented on #217
1. npm install continues on even if snappy fails to install.
https://docs.npmjs.com/files/package.json#optionaldependencies

2. It won't use snappy unless you explicitly choose the compression attributes.

[2016-11-28 09:57] BryceCicada opened #524 "Asynchronous processing of messages"
Firstly, thank you for this library.

I'm processing messages asynchronously with promises like:
[code]

I was hoping that the _message_ event would not be emitted between pause and resume of the consumer.  This way, my application should not fill its memory with pending promises.  However, this is not the case.

I imply that that _pause()_ and _resume()_ work on the kafka fetch-loop, rather than

[2016-11-28 10:01] gogorush commented on #469
I m having the same issue here. Is there any update on this issue?

[2016-11-28 11:05] BryceCicada commented on #524
Oh, perhaps I see a third option to mitigate the issue:
  3. Pause consumer on _done_ event and resume when all promises are fulfilled.  This assumes that I receive the _done_ event synchronously along with the consumer, so that I can pause before the next _consumer.fetch()_ is executed asynchronously.

[2016-11-28 14:21] hyperlink commented on #524
Yes the `pause` and `resume` are for the fetch loop. So pausing doesn't stop the emitting of message event if that batch of messages had not finished being emitted. We use a queuing layer on top of kafka it's very similar to the example in #497.

[2016-11-28 15:52] BryceCicada commented on #524
Thank you.  I've solved this as at option 3.

[2016-11-28 15:52] #524 closed

[2016-11-29 19:02] hyperlink commented on #469
I'm hoping to take a look at this in a week or two.

[2016-11-29 19:06] #436 closed

[2016-11-30 07:10] phpengineer opened #525 "I can not get messages from kafka by consumer"
This is my code

var kafka = require("kafka-node");
var Consumer = kafka.Consumer,
consumerClient = new kafka.Client('10.x.x.x:2181'),
consumer = new Consumer(consumerClient, [{ topic: 'filter_output4'}], {autoCommit: true});

consumerClient.on('ready', function () {
	console.log('client ready!')
})

consumer.on('error', function (err) {
  console.log("Kafka Error: Consumer - " + err);
});

consum

[2016-11-30 12:00] sfrehse opened #526 "Online-status of the HighLevelConsumer"
Is it possible to check the connection status of the HighLevelConsumer? I would like to test whether the connection is still alive.

[2016-11-30 15:27] hyperlink commented on #525
if you want to retrieve the data of the message you should access it with `message.value`. I would also try to use `kafka/bin` tools to verify kafka is working ok.

[2016-11-30 15:31] hyperlink commented on #526
Connection to the kafka broker or zookeeper? And what if the instance in the group doesn't own any partitions what should the status be?

[2016-11-30 17:02] juanpaco opened #527 "Does this library support Kafka 0.10+?"
I've seen questions about 0.9+.  I'm getting an error of:

[code]

I'm using version 1.0.1 of `kafka-node`.

I recently installed Kafka 0.10, and I'm trying to narrow down if I did something wrong in my installation (OSX, homebrew).

[2016-11-30 17:41] hyperlink commented on #527
We're running kafka 0.10 in all our environments without issues. You may want to check zookeeper and kafka are setup is ok.

[2016-11-30 18:25] juanpaco commented on #527
Thanks for the response.  That rules out `node-kafka`, so I'll turn towards my configuration to find the culprit.

[2016-11-30 18:25] #527 closed

[2016-12-01 03:43] phpengineer commented on #525
@hyperlink  thanks  for your answer !

kafka/bin  tool works well, but i add "console.log('test')" in 'message' callback like this   consumer.on('message', function (message) {
console.log('test');
});

If "message" is called , the word 'test' must be printed, unfortunately, there isn't anything!

[2016-12-01 07:44] phpengineer commented on #525
@hyperlink I just find the answer,   kafka server has 3 partitions ,but I set the partition to 0 .so  I can not get the messages sometimes !

[2016-12-01 07:44] #525 closed

[2016-12-01 14:00] itamarwe commented on #371
+1

[2016-12-02 09:08] sfrehse commented on #526
The status to the kafka broker. The status may encode any group status.

Is there any heartbeat message to the broker from the node client running?

[2016-12-02 15:05] hyperlink commented on #526
The [ConsumerGroup](https://github.com/SOHU-Co/kafka-node#consumergroup) will periodically send a heartbeat to the kafka broker (and retry if it encounters failures). The HighLevelConsumer doesn't have this exact mechanism built in.

To monitor the health of your group it's best to use a service like [burrow](https://github.com/linkedin/Burrow). I don't think it has good support for HighLevelConsu

[2016-12-02 18:41] ty10r opened #528 "Expected result on Kafka/ZK/network failure?"
I'm trying to ensure the fact that one of my services which use
- kafka-node `Client`
- kafka-node `HighLevelProducer`
- kafka-node `HighLevelConsumer`
is resilient to kafka/zk/network failure. In this case, all I need to know is that it will continually retry to connect to the kafka/zk services and log every time it tries/fails to reconnect.

I thought I could achieve this by setting `.on('error'

[2016-12-02 19:01] hyperlink commented on #528
There's code in `kafka-node` to recover from network issues. Though there's an open issue (#469) about this not working properly for producer (very possible the recovery was mainly focused from the consumer perspective).

If you are interested to know about connection changes you could listen for `reconnect` and `connect` events on the client. Unfortunately there is not an event for disconnects bu

[2016-12-02 19:15] ty10r commented on #528
@hyperlink Thank you for the information. It's a huge help.
I've already ensured that the consumer/producer are connected before causing disconnection.

I will start listening on the `reconnect` event.

As for the `ECONNREFUSED` errors, I will probably have to check all of my catch clauses to be sure we're not accidentally swallowing those errors.

[2016-12-02 22:28] #528 closed

[2016-12-05 05:52] asdfs1 opened #530 "kafka-node producer Error: connect ETIMEDOUT"
I have a question with kafka-node , plesase help me out. Here is the link of my question
[http://stackoverflow.com/questions/40966337/kafka-node-producer-error-connect-etimedout](url)

[2016-12-07 16:32] sfrehse commented on #526
Thanks. I'll shift to ConsumerGroups soon... :-).

[2016-12-07 16:32] #526 closed

[2016-12-08 08:41] gogorush commented on #530
Guess you should not create a new producer for each request, move the client and producer out of your exports.Kafkatest = function(req,res) {} code block so that it won't create a new socket to the kafka server every time there is a new post request.
BTW: You should not simply post a stackoverflow link in github so that we could see the issue directly , cheers. @asdfs1

[2016-12-08 16:12] snmgian opened #531 "Unhandled 'error' event terminates node.js process"
After stopping a kafka instance (I have 2 running instances under normal conditions), node prints the following output and then terminates the process:

[code]

I attached 'error' event handlers on all the Client, Offset and Consumer objects that I've manually instantiated.

If I setup a global error handler, then the process doesn't terminate and the consumer happily continues receiving messages

[2016-12-09 09:58] IvanVergiliev opened #532 "Incompatible eslint plugin versions"
Running `npm install .` on `master` fails with the following error for me:

[code]

And indeed, the latest version of`eslint-config-standard` (6.2.1) upped the required version of `eslint-plugin-promise` from 2.0.0 to 3.3.0.

[2016-12-09 21:36] #532 closed

[2016-12-10 02:46] hyperlink commented on #531
I would lean towards using the `self.fetch` but I'm not sure why a one time instance of Offset is created. Maybe @CharlesWall recalls?

[2016-12-10 04:45] patricknelson commented on #48
I had this issue too with `Consumer`. When I moved over to `HighLevelConsumer`, it doesn't even appear to respect the `offset` and `fromOffset` settings. Supposedly these take the same syntax in the `payloads` and `options` areas. Here's my sample code:

[code]

[2016-12-10 05:02] hyperlink commented on #48
@patricknelson I would use to the new [ConsumerGroup](https://github.com/SOHU-Co/kafka-node#consumergroup) if possible. HighLevelConsumer is likely to be deprecated soon by Kafka.

[2016-12-10 11:02] patricknelson commented on #48
Unfortunately I just end up with 'Broker not available' errors. The same doesn't happen when using `HighLevelConsumer`, only with `ConsumerGroup`.

[code]

[2016-12-10 11:33] patricknelson commented on #48
Actually I think this is because I'm using Kafka 0.8, so I guess `ConsumerGroup` won't work for me. How can I get `HighLevelConsumer` to offset from the latest messages instead of flooding the client with millions of messages that are a week old (when we still need that retention)?

[2016-12-12 18:02] healyje opened #534 "Consumer keeps firing .on('done') with no .on('error') or .on('message')..."
I've got a system with a js producer submitting to kafka from a front end REST api. It works fine and with the kafka-console-consumer I can see the all the queue entries:

[code]

However, no matter what I do, what I can't seem to do is receive messages from the js consumer - it just keeps firing .on('done'):

[code]

I'm definitely on the right topic and have tried various offsets, but still noth

[2016-12-13 17:33] joewood commented on #480
Realize there's other work need doing, but would like to see timestamp producer support so that this works seamlessly with a Kafka Stream consumer.

[2016-12-14 08:04] TomDmitriev commented on #468
I was just about to create a similar issue when I encountered this one. Moreover, it looks like there is no robust and complete nodejs kafka client implementation at the moment. I ended up using https://github.com/LivePersonInc/kafka-java-bridge for a `HighLevelConsumer` and this library for a `Producer`.

[2016-12-15 15:58] bryanburgers opened #535 "Support for 0.9"
The title for this project is "Node.js client for Apache Kafka 0.8", but some of the documentation, changelog, and features suggest that it is compatible with Kafka 0.9. Is it? If so, can the project title be changed?

[2016-12-15 17:33] gpanah opened #536 "Producer.send() appears to only return the offset of the first message when mutiple are sent"
The result passed to the callback of producer.send() returns an object with the following structure
[code]
On a send with multiple messages, I would expect this result to be an array of these objects, but instead it is a single object with the offset of the first message.  Can we safely assume that messages were inserted sequentially to Kafka?  In other words, can we assume that no messages were i

[2016-12-15 18:24] barrotsteindev commented on #371
I'll be more than happy to try and give it a shot.

[2016-12-15 19:13] s-rodriguez commented on #449
Hi @m2studio @gogorush, have you found any solution regarding this issue?

We are currently facing the same problem in a prod environment, and we are struggling to find a way to solve it.
We have a topic with 15 partitions, and there are 30+ processes that can be selected as consumers. However, from time to time, partitions are left without owners.

Any hint towards where to look into would be app

[2016-12-15 19:57] hyperlink commented on #535
Yes, it's compatible with 0.9 and 0.10 as well. Unfortunately I am not an admin for this repo so either @haio or @crzidea will need to update it.

[2016-12-16 02:07] gogorush commented on #449
This is caused by the rebalance issue when more consumers added into the network. I upgraded my kafka to 0.9+ and use the new ConsumerGroup API to avoid this issue.

I checked this issue earlier, conflunt(the company behind kafka) posted an article about their new consumer in 0.9  said and I quote '**This new consumer also adds a set of protocols for managing fault-tolerant groups of consumer proc

[2016-12-16 09:41] mustafamamun opened #537 "Consumer not commiting the offset."
kafka-mode 1.0.7
kafka cluster 0.8

I am using the consumer auto commit true to commit the offset but the offsets are not committed.
consumer options
{
		            groupId: config.consumerGroup,
		        // Auto commit config
		            autoCommit: true,
		            autoCommitIntervalMs: 500,
		        // Fetch message config
		            fetchMaxWaitMs: 100,
		            fetchMinBytes:

[2016-12-16 13:14] s-rodriguez commented on #449
Wow, thanks a lot @gogorush! I'll definitely check out kafka 0.9+ with the new ConsumerGroup

[2016-12-19 16:12] deldim1 opened #538 "Failed to connect to kafka server, when SASL_SSL is configured"

[2016-12-19 16:47] hyperlink commented on #538
Sorry, this isn't supported at the moment. Please see related issues: #482 and #511

[2016-12-19 16:47] #538 closed

[2016-12-19 19:16] Petrox commented on #117
+1

[2016-12-21 04:45] zoluzo commented on #534
@healyje Did you resolve this problem? I meet the same problem.

[2016-12-21 07:14] healyje commented on #534
Unfortunately not - got side-tracked by a pretty severe multi-datacenter outage and will be revisiting this later this week or next. Anyone?

[2016-12-21 19:18] itamarwe opened #539 "High network load for HighLevelConsumer when it's idle"
Hi,
I'm working with HighLevelConsumer and it somehow reaches incredible levels of network load when it doesn't consume any message.

When it consumes a topic the network is reasonable, but when it arrives to the latest offset, the network load goes off charts.

I must say, it only happens to me with topics with gzipped data. I have other topics without gzipped data and it works fine.

Would appre

[2016-12-23 14:50] cesaraugustogarcia opened #541 "HighLevelConsumer leaving partitions without owner on multiple consumers startup"
Hi,

when I startup several consumers normally my queue ends up with several partitions without owner (checking with `kafka-consumer-offset-checker.sh `).

In my scenario, I have more than double number of consumers than partitions. For example, 38 consumers for 16 partitions on my queue. And when starting (or restarting) all my consumers I end up always with partitions left with no owner.

[2016-12-30 21:17] mdnorman commented on #232
After using kafka-node for a few months, we've noticed this behavior as well. It appears to be a spin-loop.

[2017-01-03 15:06] hyperlink commented on #232
Looks like it was added in 082fc288422c008fd0aada2bfd84006aad85aed1 and updated to use a `setImmediate` in 99699ac447e77a91bc88a9578b49c4fd05a9c3c0

And the tests appear to pass when I omit that block.

[2017-01-03 16:17] hyperlink commented on #534
The `done` event should be emitted with every iteration of the fetch loop.

[2017-01-03 16:50] healyje commented on #534
Hyperlink, hey thanks for the reply. I do understand that `done` should be emitted for every iteration of the fetch loop; what I don't understand is why it's not emitting either `message' or `error`...

[2017-01-03 19:55] #531 closed

[2017-01-03 20:12] hyperlink commented on #537
How are you verifying the offsets are committed?

[2017-01-03 20:14] hyperlink commented on #541
Could you go into more detail on your issue was fixed by exposing the retry configs?

[2017-01-03 20:22] hyperlink commented on #536
Maybe this is a limitation of the kafka protocol. Checkout the [producer response](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ProduceResponse) it talks about the first offset of the first message.

[2017-01-03 20:50] hyperlink commented on #534
@healyje looks like your topic has lots of partitions. Could it be possible the message didn't make it to partition `0` at the time you were testing?   `kafka-console-consumer` works by consuming on all partitions right? I would try using a `HighLevelConsumer` or `ConsumerGroup` (this is preferred) instead.

[2017-01-04 09:51] healyje commented on #534
Hyperlink, thanks. I will take a look at the partitions, the `HighLevelConsumer` / `ConsumerGroup` approach. Been buried alternately with data center outages and rebuilding a couple of badly configured mongo clusters, so just now getting back to all this (_which would allow me to dump mongo which is being used as a queue_).

[2017-01-04 12:58] mustafamamun commented on #537
I am using kafka tool to see the offset in zookeeper.

[2017-01-04 14:13] hyperlink commented on #537
You should be able to view the offsets saved in zookeeper if you're using `HighLevelConsumer`.

[2017-01-04 14:14] cesaraugustogarcia commented on #541
Absolutely. Upon my investigation on startup of my multiple servers, I have serious suspects that the problem is because of contention of servers trying to get ownership of partitions at the same time.

I also noticed that with the default configuration, the period used to retry is always the same, so I focused on having each consumer using a different period of time for the retries, set up when i

[2017-01-04 14:18] mustafamamun commented on #537
I am using HighLevelConsumer. But even the consumer listen to a new message the the offset in the zookeper remains the same. And if i start the consumer again it start reading from the specific offset where it is stuck and not increasing. I remove the consumer group from kafka and restart the process and then it start working normally.

[2017-01-04 14:20] mustafamamun commented on #537
I do not know if it is a problem with kafka of the library itself but I had another issue with the library. It stopped reading the data from kafka. I also solved it by removing the consumer group from kafka.

[2017-01-04 14:25] hyperlink commented on #537
That's strange behavior. How do you go about remove the consumer group from kafka?

[2017-01-04 14:30] mustafamamun commented on #537
bin/kafka-consumer-groups.sh --zookeeper localhost:2181 --delete --group consumer_group_name
This is the command to delete the consumer group from kafka.

[2017-01-04 15:30] hyperlink commented on #537
are you able to use a later version of kafka?

[2017-01-04 16:10] mustafamamun commented on #537
Have not tried that is the cluster we have and that is were the problem happened. The issue is really rare not able to reproduce using any use case. I will try to see if i can reproduce it with later kafka version.

[2017-01-04 16:27] healyje commented on #534
hyperlink, hey, the `HighLevelConsumer` and resetting everything in kafka/zookeeper solved the problem - appreciate it. I am, however, still unclear of the exact relationship between kafka-node consumers / groups use on the client-side and server-side partition [auto-]creation / generation on the other. Can you point me to some documentation? Again, appreciate the help.

[2017-01-04 16:38] hyperlink commented on #534
This [article](https://www.confluent.io/blog/how-to-choose-the-number-of-topicspartitions-in-a-kafka-cluster/) could be useful. The idea is you can have multiple instances of `HighLevelConsumer` or `ConsumerGroups` spread over different servers to help scale your load.

Also if you're using kafka  I would recommend using ConsumerGroup instead of HighLevelConsumer. This is what kafka calls the new

[2017-01-04 18:14] cesaraugustogarcia commented on #541
@hyperlink Should I close the issue? Or you prefer to leave it open for more feedback?

[2017-01-05 07:48] crzidea commented on #535
I will update the README.

[2017-01-05 14:05] #535 closed

[2017-01-06 04:43] ksrbigdata commented on #511
https://www.udemy.com/learn-apache-kafka-basics-and-advanced-topics/

[2017-01-06 04:44] ksrbigdata commented on #511
Online Kafka course for $10...

https://www.udemy.com/learn-apache-kafka-basics-and-advanced-topics/

[2017-01-06 09:19] ighack opened #546 "TypeError: Cannot read property 'write' of undefined"
below is my code of Consumer

[code]

but it dosen't work

[2017-01-06 14:55] hyperlink commented on #546
I think this might be caused by start your consumer and then closing it right away.

[2017-01-07 20:44] kkarthik21 commented on #297
Is the issue resolved? Any solution would be appreciate

[2017-01-07 21:54] cheungwsj opened #548 "Question: how can I implement 'Exactly Once' in a consumer"
Hi,

Need some help.

New to Kafka and read an article about implementing ['Exactly Once' consumer](http://126kr.com/article/6mwmx81h2zq). Can I use kafka-node to achieve the same thing? If yes, would you please provide me some guidance.

Steps recommended from the article.

1. Set enable.auto.commit = false.
2. Do not make call to consumer.commitSync(); after processing message.
3. Register consu

[2017-01-09 02:23] ighack commented on #546
I remove `consumer.close(function(){});`
it also dosen't work

I am sure I have snappy

[2017-01-09 02:38] ighack opened #549 "Snappy codec is not installed"
I have "E:\node-kafka\Kafka-Node\node_modules\snappy"
so what should I do on windows?

[2017-01-09 15:09] hyperlink commented on #549
Did you see errors during the `npm install`? You need to resolve any node-gyp issues before you can use snappy. If you didn't intend to use snappy codec make sure you don't have the  compression option selected.

[2017-01-10 01:53] ighack commented on #549
this is my client.js
[code]
How do I disable compression option.
I just know Producer has compression option "attributes" that is default 0
What is compression option of  Consumer?

[2017-01-10 03:07] ighack commented on #549
Now,that error is

[2017-01-10 03:17] nkurothe opened #550 "How can I be sure that the client is connected?"
I was not able to find any assertive way to check if the client is connected to ZK or not.

`var kafka = require('kafka-node');
var Producer = kafka.Producer;
var KeyedMessage = kafka.KeyedMessage;
var Client = kafka.Client;
var client = new Client(validZKUrl);
`

[code]

how can I check if the client is connected to the ZK?

[2017-01-10 17:09] hyperlink commented on #550
the client will emit a `ready`.

[2017-01-10 18:40] nkurothe commented on #550
Thanks for the quick reply. I was assuming in case the ZK url is invalid, the client will emit an error, but it doesn't. Is there any state that will help me catch this exception that the client is not connected, so that I can take necessary action based on it.

[2017-01-10 18:46] hyperlink commented on #550
You may have to handle this in your application and throw an error of the client does not become a ready after a period of time.

[2017-01-11 02:26] ighack commented on #549
I give up windows,it works on linux.
snappy can't bulid on windows,I don't know

[2017-01-11 02:27] ighack commented on #549
I give up windows,it works on linux.
snappy can't bulid on windows,I don't know

[2017-01-11 02:27] #549 closed

[2017-01-11 02:34] ighack commented on #549
I give up windows,it works on linux.
snappy can't bulid on windows,I don't know

[2017-01-11 09:40] manor21 opened #554 "argument is out of bounds error"
Hi,
I got this exception , with this error... what can be the reasons for this error?

thanks.
trace:
TypeError: "value" argument is out of bounds
  File "buffer.js", line 1027, col 11, in checkInt
  File "buffer.js", line 1230, col 5, in Buffer.writeInt32BE
  File "/home/node/app/node_modules/buffermaker/lib/BufferMaker.js", line 77, col 36, in BufferMaker.make
    buffer['write' + item.type](ite

[2017-01-11 14:58] hyperlink commented on #554
Do you have code that can reproduce this?

[2017-01-12 08:35] manor21 commented on #554
Its not reproducible, we used the ConsumerGroup and started consuming from an existing empty topic, after a few days (the topic is still empty), got this error.

Did you encounter such an error? What might cause it?

[2017-01-12 14:35] mustafamamun commented on #239
same here.

[2017-01-12 15:09] hyperlink commented on #554
Yes, that's helpful. I have an idea on what's causing this. I'll verify it now.

[2017-01-12 17:03] #554 closed

[2017-01-12 21:05] joewood opened #558 "fetchCommits not working"
Calls to `fetchCommits` always returns `-1` for all partitions for all groups when run against **kafka_2.11-0.10.1.0**.

The offset commits are set correctly and can be queried using `kafka-consumer-group.sh --list` and `--describe` when using the `--bootstrap-server` option. Is there anything that needs to setting to enable Kafka broker to be queried for Offset Commit data for consumer groups?

[2017-01-12 21:23] hyperlink commented on #558
Hi @joewood the current fetchCommits is using V0 which retrieves the offsets stored in Zookeeper. We need to add a new method to `Offset` to preserve compatibility.

The implementation should be simple if you want to create a PR just call `this.client.sendOffsetFetchV1Request` instead of `this.client.sendOffsetFetchRequest`.

[2017-01-12 21:48] #550 closed

[2017-01-12 22:03] joewood commented on #558
Great, that worked - thanks. I'll try to get a PR. Do you prefer a new `V1` function on `Offset` rather than an API version optional argument?

[2017-01-12 22:27] hyperlink commented on #558
we shouldn't change the existing method signature unless we bump up the major version. I don't want to break others. Maybe call the new method `fetchCommitsV1` ?

[2017-01-12 22:29] joewood commented on #558
OK, great. Plus the payload format is different. It seems to require the format as described by the protocol rather than the previously used denormalized array of {topic,partition}. Is that intentional?

[2017-01-12 22:32] hyperlink commented on #558
oh, I wasn't aware of that. They should be consistent.

[2017-01-12 22:34] joewood commented on #558
Shouldn't the code between `encodeOffsetFetchV1Request` and `encodeOffsetFetchRequest` be identical other than the API version in the header? I don't think the protocol has changed (just the destination).

[2017-01-12 22:44] joewood commented on #558
Also, I had to remove the call to `buildPayloads` - as that assumes an array, and `sendOffsetFetchV1Request` needs a payload object where each key is a topic. So, for consistency it should probably go back to being an array and `encodeOffsetFetchV1Request` would revert to `encodeOffsetFetchRequest` but with the header parameter.

[2017-01-12 23:20] joewood commented on #558
There also seems to be some weirdness with the data coming back from this. Does this message need to go to all brokers to get the data for all groups?

[2017-01-13 01:19] hyperlink commented on #558
Sorry, looks like it's not as straightforward. The group coordinator is the keeper of this information. You need to make the request to the group coordinator and to do that you need to set the `coordinatorId` on the client which can be retrieved by calling `client.sendGroupCoordinatorRequest(groupId, callback)`

[2017-01-13 15:16] joewood commented on #558
Got it. That's works like a charm. I've actually written a couple of new functions to send and process the admin functions: - ListGroups and DescribeGroup. I'm getting the status of all groups for all topics, rather than the one that the client is associated. Querying for the group coordinator for each before querying the offset commits works great.  I'm using `client.queueCallback` and `broker.wr

[2017-01-15 06:26] manor21 commented on #554
Hi ,
can you explain what was the bug?

thanks!

[2017-01-15 07:15] kobik commented on #554
Hi,

We also came across this issue.
Can you please explain the nature of this bug and how can we make sure it was fixed in our end.

Thanks

[2017-01-15 15:44] hyperlink commented on #554
There shouldn't be anything you need to do other than to make sure you're using the latest version.

The `CorrelationId` is the integer we send with every request made to kafka. This value is passed back with kafka responses and we use it to match up request callbacks. This value should be 32 bit signed integer and is incremented with every request. The previous code did not take into account the

[2017-01-16 09:07] kobik commented on #554
Thanks for the detailed explanation.

[2017-01-16 16:44] darshanp commented on #289
setting "max.block.ms = 3000" fixed it for me.

[2017-01-16 20:13] tony-kerz commented on #275
so would it be correct to say that high-level versions should only be used when partitions are being used to "randomly" split the load across partitions for load-balancing when the order in which messages are processed __does not__ matter?

[2017-01-18 08:59] RainbowPony opened #566 "Kafka HighLevelConsumer consumes very slowly"
Greetings!
I've encountered an issue, while trying to use kafka-node module on my production servers:
I'm producing 10-15k of records per second, and unfortunately, the most I've been able to get from my consumer is 1-1.5k.
Can you please give me an advice on how I can increase consumption speed, or maybe tune my consumer to get better results?

Looking forward to hearing from you,
Rainbow Pony

[2017-01-18 23:42] brunowonka opened #567 "Autocommit on HighLevelConsumer fires even if offsets haven't changed"
This doesn't happen very often, but I identified that if a HighLevelConsumer is "idling" (no messages are coming in), autocommit keeps getting called periodically (via the `done` event on the consumer).

I forked the repos with the proposed changes (very simple), I can create a PR upon request:

https://github.com/brunowonka/kafka-node/tree/autocommit_fix

[2017-01-19 14:35] hyperlink commented on #567
Look forward to the PR @brunowonka. Thanks!

[2017-01-19 17:46] mdnorman opened #569 "Error "Could not find the leader" when Kafka server restarts"
Whenever a Kafka server in a cluster restarts, the kafka-node library loses connection to the kafka server and fails to reconnect properly.

When trying to publish a message, we get the following error:
kafka-node@1.3.1:
[code]

kafka-node@1.0.7
[code]

[2017-01-19 19:55] #546 closed

[2017-01-19 20:03] hyperlink commented on #569
This could be the same as #469. I will look into it.

[2017-01-19 20:04] #408 closed

[2017-01-19 20:09] hyperlink commented on #275
@tony-kerz that sounds reasonable.

[2017-01-19 20:09] #275 closed

[2017-01-19 20:18] hyperlink commented on #566
Hello, I'm not familiar performance of the consumers and want to explore in more detail. Do you have any sample code used to collect these benchmarks? Thanks!

[2017-01-20 07:58] fnbns opened #570 "Connection refused on remote kafka node"
Good day,

I have a problem connecting to a remote kafka node (which works fine) when doinh:
`client = new kafka.Client('<remote-ip>:2181')`
The error is:  ECONNREFUSED 127.0.0.1:9092 which I find strange since I am passing a remote address, not localhost...

Thank you,
Alex.

[2017-01-20 09:06] #570 closed

[2017-01-20 10:14] RainbowPony commented on #566
@hyperlink , well, I have a kafka server that has a topic with 3 partitions in it. I have a node.js app, runs in a cluster and conects to that topic. I know, in fact, that amount of data, written into that topic is 10-15k. And, the difference between message's createdAt attribute and timestamp of it being processed is increasing over time.

For my client config, I am using:
`   this._client = new

[2017-01-20 14:58] qbadx opened #571 "kafka zookeeper returns java error "too many open files""
Hello,

Even after having set correct ulimit values, I'm hitting this error and I can't figure out why ..

I'm monitoring the number of openfiles of nodejs with `lsof -i -n -P | grep nodejs`

and it always crashes when it reaches around 8000 openfiles.

I can't say wether it is caused by the module or by the js code ..

[2017-01-20 15:04] hyperlink commented on #571
`kafka-node` does not open any files so this issue shouldn't be caused by the module. Good luck!

[2017-01-20 15:05] hyperlink commented on #569
I'm having issues reproducing this. Do you have a easy way to reproduce? Do you need to have a cluster for servers for it to work? How long was that broker offline for?

[2017-01-20 15:11] qbadx commented on #571
Thx, I'll continue my investigations.. I have been looking for days so f you have any pointers please do not hesitate

[2017-01-20 16:40] hyperlink commented on #571
@qbadx you should call `close` on either one of the producer or consumer types which will implicitly close the client. And do not share client instances.

[2017-01-21 19:31] mdnorman commented on #569
I'll work on a simple reproduction scenario that removes the complexity of our code. In the meantime, you don't need multiple brokers. I was able to reproduce with running kafka and zookeeper in separate docker containers, stopping (but not destroying) only the kafka docker container, waiting a few seconds, and then starting it back up again. When I attempted to publish a message to the topic, it

[2017-01-23 21:48] #571 closed

[2017-01-23 22:17] hyperlink commented on #567
Merged into master.

[2017-01-23 22:17] #567 closed

[2017-01-25 15:57] vidhill commented on #502
I have been trying to do the same thing,

I have a consumerGroup,
I have configured it with `autoCommit: false`

To manually commit the offset I had to use `consumer.client.sendOffsetCommitV2Request(...)`

I couldn't get it to work using any other methods,
did I miss something?

[2017-01-25 16:00] vidhill opened #576 "Help: Manually committing offset while using ConsumerGroup"
I have been trying to do the same thing, I have referenced a similar issue https://github.com/SOHU-Co/kafka-node/issues/502 but couldn't see a clear answer.

I have a consumerGroup,
I have configured it with autoCommit: false

To manually commit the offset I had to use consumer.client.sendOffsetCommitV2Request(...)
Is this correct?

I couldn't get it to work using any other methods,
did I miss som

[2017-01-25 19:20] mdnorman commented on #569
The following seems to spew errors when disconnected, and even after `connect` (we never receive a `reconnect`), it is still spewing errors. Eventually after a few times it comes back. This could be due to the KeyedMessage. I'm still working on a ConsumerGroup repro scenario.

[code]

[2017-01-25 19:58] hyperlink commented on #576
My advice referenced in the previous thread still stands.

You should be able to manually commit by calling `autoCommit` or the alias of it `commit`.

[code]

[2017-01-25 20:44] hyperlink commented on #569
I noticed waiting just a few seconds for the container yields some strange behavior. The kafka container gets into a weird state with zookeeper and service spews a lot of zookeeper related errors. In this case I can't produce even if the client is restarted.

In other cases the container will terminate with an exception.

[code]

In my test if I wait about 35 or more seconds to start the container

[2017-01-25 23:39] mdnorman commented on #569
It does appear that the later kafka-node version (1.3.1) recovers better than the previous (1.0.7) version. I'm going to install that into some of my services and see if we notice better behavior.

[2017-01-26 19:45] #534 closed

[2017-01-27 17:13] #576 closed

[2017-01-28 18:14] mdnorman commented on #569
I was able to reconnect properly without errors if I call code to update the topic metadata for all of the topics the code publishes to:

[code]

This is required before publishing to topics with the keyed partitioner, and apparently it's required every time the brokers change (even if only due to a network hiccup).

[2017-01-31 03:46] hyperlink commented on #569
Looks like the metadata gets [cleared](https://github.com/SOHU-Co/kafka-node/blob/74d3d2a387f77bc803aa5d9278a71de476c563a8/lib/baseProducer.js#L86) when the broker changes.  Maybe the expectation is it will get refreshed later [here](https://github.com/SOHU-Co/kafka-node/blob/74d3d2a387f77bc803aa5d9278a71de476c563a8/lib/client.js#L515).  Unfortunately it's needed [here](https://github.com/SOHU-Co/

[2017-01-31 16:00] hyperlink commented on #569
Hi @mdnorman could you point to this branch `SOHU-Co/kafka-node#producer-broker-recovery` and see if it fixes the issue for you?

[2017-02-01 16:16] mdnorman commented on #569
This branch appears to have fixed the issue we were seeing. It seems to be automatically updating the metadata for any topics we've seen before, which is very helpful.

[2017-02-01 20:21] #569 closed

[2017-02-01 20:23] hyperlink commented on #469
Possibly be fixed with #580

[2017-02-01 20:23] #469 closed

[2017-02-03 02:48] afenderson opened #583 "Producer stops accepting new messages after 58/59"
Hi,
I am searched all around and am coming up short on an answer for this, I'm surprised because I've used examples that other people are fine with as a starting point.

If I manually publish using a bash command like this, it publishes forever, no problem:
        `echo "{'what':'yup'}" | bin/kafka-console-producer.sh  --broker-list localhost:9092 --topic iot2`

...but in my use case I am generat

[2017-02-03 03:08] afenderson commented on #583
Got it - I shouldn't have opened a new connection every interval! Too many connections, max was 60.

[2017-02-03 03:08] #583 closed

[2017-02-03 09:06] macurial opened #584 "kafka connect refused"
在初始化连接的时候报错
error { Error: connect ECONNREFUSED 65.74.177.129:9092
    at Object.exports._errnoException (util.js:1022:11)
    at exports._exceptionWithHostPort (util.js:1045:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1087:14)
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '65.74.177.129',
  port: 9092 }

用的是例子中的代码，
let kafka = require('kafka-

[2017-02-05 15:57] timruffles opened #585 "Avoid requirement to listen for 'ready'"
I'm new to Kafka, so perhaps I'm missing something, but why doesn't the library abstract over the concept of readiness? I've not seen this pattern in other connection-oriented libraries, e.g: Postgres, Elastic, Mongo, etc etc...

Especially for the 'HighLevel' producer, surely a friendlier flow is:

- try to send
- find out something failed (including inability to ready the producer)

rather than:

[2017-02-06 19:25] phagunbaya opened #587 "Consume latest Kafka messages"
Right now, there is no way to consume latest messages irrespective of committed offset. Even setting fromOffset to true and passing topic offset does not help. I always ends up getting all the old messages.

[2017-02-06 19:28] hyperlink commented on #587
Which consumer are you using?

Consuming using the `ConsumerGroup` by default will start from the latest but you can also define the `fromOffset` setting to `latest`. With the other consumers you will need to manually set it by querying the `Offset.fetchLatestOffsets` and setting it on the payload.

[2017-02-06 19:30] hyperlink commented on #585
Perhaps the `High` in this context refers to the state of mind. 🤔

In any case PRs are welcome!

[2017-02-06 20:20] phagunbaya commented on #587
I'm using `HighLevelConsumer`

[2017-02-06 20:26] hyperlink commented on #587
Unless you're on kafka 0.8 I would recommend `ConsumerGroup` which lets you start consuming from the latest. Otherwise you'll need to get the latest offsets yourself.

[2017-02-06 20:51] phagunbaya commented on #587
@hyperlink Thanks that worked !

[2017-02-06 21:01] #587 closed

[2017-02-07 02:23] macurial opened #588 "cannot get all list of topics"
When I use this method to get topicList
client.loadMetadataForTopics([], function (error, results) {
  console.log('%j', _.get(results, '1.metadata'));
});
It return me a undefined,why is this happened?

and I am sure my Kafka indeed has topics

[2017-02-07 02:40] hyperlink commented on #588
What does the value of the `error` parameter ?

[2017-02-07 05:17] macurial commented on #588
{ [BrokerNotAvailableError: Broker not available] message: 'Broker not available' } @hyperlink

[2017-02-07 05:40] macurial commented on #588
{ [BrokerNotAvailableError: Broker not available] message: 'Broker not available' } @hyperlink

kafka是按照官网的教程启动的，只有一个broker，broker.id = 0

[2017-02-07 06:02] phagunbaya opened #589 "Support for filtering by key in ConsumerGroup"
Is there any support to filter messages by key when consuming using `ConsumerGroup` ?

[2017-02-07 14:34] hyperlink commented on #589
The `key` is an attribute on the `message` you will need to filter it yourself.

[2017-02-07 14:40] hyperlink commented on #588
Most of the time this means the client has no socket connection to the kafka broker.

Did you receive a `ready` event from the client?

What is the value of `client.ready` ?

[2017-02-07 22:23] timruffles opened #590 "Calls error callback with an Array"
I am seeing callbacks being called with the following as the first argument (the error argument):

[code]

An array is not an error.

Node callbacks have this API: `type Callback<T> = (error?: Error, value?: T) => void`. The core docs have a [clear guide for this](https://nodejs.org/api/errors.html#errors_node_js_style_callbacks).

Calling a callback with a non-Error is unhelpful, as it break stac

[2017-02-07 22:31] timruffles opened #591 "Callbacks called in same tick of event loop"
An important concept about functions that accept callbacks is they should *never* call the callback in the same [tick of the event loop](https://gist.github.com/CrabDude/10907185).

See [Izaac's blog post for the full reasoning](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony).

I've seen this in a few places in the code, but only had time to [note down one](https://github.com/SO

[2017-02-08 02:21] hyperlink commented on #591
yeah a callback there is pointless.

[2017-02-08 02:23] hyperlink commented on #590
I understand what you're saying @timruffles but I don't think we can fix this without making a major version bump. In case users were depending on this behavior.

PRs are welcome! 👍

[2017-02-08 10:01] macurial commented on #588
![image](https://cloud.githubusercontent.com/assets/10878381/22732267/8a0b9a30-ee28-11e6-8009-28d87d2f7731.png)

client.ready is false,but I still can get the message

[2017-02-08 10:16] timruffles commented on #591
There are other examples in the codebase of the form which are more dangerous still, as they're non-deterministically async:

[code]

which is non-deterministically async. AKA 'releasing Zalgo' 😱

Instead it should be:

[code]

The [node docs](https://nodejs.org/api/process.html#process_process_nexttick_callback_args) on process.nextTick also have an explanation of the danger and why this prevents

[2017-02-08 14:12] hyperlink commented on #588
Try calling `loadMetadataForTopics` after the `connect` event has been emitted.

[2017-02-08 16:33] buphmin opened #592 "Error Handling Kafka Server Failure"
kafka-node: v1.3.4

So I am trying to handle the case when the connection to Kafka becomes interrupted and a connection is no longer possible. Whether it be an internet failure, power outage, or whatever, I would like to handle this case gracefully.

So far I have been unsuccessful in catching this error. It throws a critical error that kills the consumer script that I cannot seem to catch. To mak

[2017-02-08 17:17] hyperlink commented on #592
I would recommend using either `ConsumerGroup` (0.9+) or `HighLevelConsumer`. Unless you need to consume from a specific partition both of these will automatically save consumed offsets for you (provided they are in the same group) and they have been tested to recover from network issues fairly well. If there is such a catastrophic failure like power loss the worse that could happen is you double

[2017-02-09 09:53] macurial commented on #588
that worked! thank you

[2017-02-09 14:11] #588 closed

[2017-02-09 15:42] buphmin commented on #592
Ok, I tried to convert to consumerGroup and got messages to flow as expected using this code:

[code]

However when the kafka server dies most often I get this error and the consumerGroup critically fails in a seemingly uncatchable error.

[code]

Also if you restart the consumerGroup while kafka is still down then it will run through every message again starting from the beginning. This happens a

[2017-02-09 18:05] hyperlink commented on #592
There's no need to kill your consumer since there's logic in the client to retry connecting the socket on an interval when it disconnects so for network connection errors it's safe to ignore it. If the the broker changes or goes away for ever it will attempt to refresh the broker list and pick up where it left off.

Try leaving the client alone and then restarting the broker and see if it recovers

[2017-02-09 19:05] buphmin commented on #592
So I am not explicitly stopping the consumer, the uncaught error stops it. If the error could be caught I could go ahead and ignore it.

Kafka version: 0.10.0.1

To expand on how I am testing:

Start kafka:

[code]

Start consumer or consumerGroup

[code]

Send a message:

[code]

Consumer then dumps the message as expected.

Return to server terminal and hit ctrl-c to terminate the server, simula

[2017-02-09 19:15] hyperlink commented on #592
Hmm it shouldn't be throwing uncaught errors. Your code that listens to the `error` event on the consumer should handle it. If that's not the case you can add a listener on process to prevent it from crashing.

https://nodejs.org/api/process.html#process_event_uncaughtexception

[2017-02-09 19:35] shubsk commented on #342
@CharlesWall any option like auto.offset.reset=latest , sometime soon for 0.8.*  version of kafka for node client.

[2017-02-09 19:42] hyperlink commented on #342
@shubsk I wouldn't hold my breath waiting for that.

[2017-02-09 21:11] buphmin commented on #592
Thanks for your help so far btw.

Adding:

[code]

works in catching errors in the consumer script.

For some reason I can no longer get the ConsumerGroup to fail completely on kafka server termination. Sometimes in an instance of restart then terminate kafka server it will dump the error using consumerGroup.on('error, cb), then sometimes it will do nothing in response to kafka failure, and then s

[2017-02-09 21:26] hyperlink commented on #592
What you're seeing makes sense.

When Kafka initially goes offline it will cause the client to reconnect at an interval and it takes a moment for TCP to realize it can't make the connection and throws the `ECONNREFUSED` error.  It will keep doing this until the ephemeral node in zookeeper that represents the kafka broker times out (around 30 seconds?). Once it is gone the client realizes this and

[2017-02-09 21:41] buphmin commented on #592
Ok, then I can see that then. There is still the issue that the consumerGroup sometimes does not bubble up errors when kafka is terminated, is this expected?

Also perhaps the documentation for the base consumer (as in require('kafka-node').Consumer) should be changed to reflect that on kafka failure it frequently throws an uncaught exception that will need to be caught with process.on('uncaughtEx

[2017-02-10 13:44] TomCoates8161 opened #593 "Problem getting list of all topics when using ConsumerGroup and Kafka 0.10"
The method for getting a list of all topics suggested in the FAQ (https://www.npmjs.com/package/kafka-node#how-do-i-get-a-list-of-all-topics) is not working for me. Doing this:

[code]
where `zooKeeperServer` and `zooKeeperPort` are set to point to my ZooKeeper results in:
[code]
Note that I am running Kafka 0.10, which I think means that Kafka co-ordinates everything itself rather than relying on

[2017-02-10 14:11] CharlesWall commented on #342
I haven't looked at any of this stuff since May. I learned how this module worked to write the fix I needed. @shubsk You should consider doing the same.

[2017-02-10 14:15] hyperlink commented on #593
Take a look at #588 @TomCoates8161

[2017-02-10 14:15] #593 closed

[2017-02-10 14:30] TomCoates8161 commented on #593
Many thanks!  👍

[2017-02-10 15:47] joewood opened #594 "Broker side compression issue"
I'm seeing a problem using kafka-node on a 0.10.1.1 cluster with server side compression set to LZW. It looks like the consumer payload is the compressed message (i.e. it's not kicking in decompression before dispatching the callback). The same code works fine on a cluster without this setting. Is this a known issue? This is using the ConsumerGroup client. I've tried playing with `attributes` to f

[2017-02-10 18:16] hyperlink commented on #594
I'm not familiar with compression and broker side compression. Is there some documentation about it?

[2017-02-10 18:35] hyperlink commented on #592
I haven't been able to reproduce the uncaught exception. Could you give more details about your environment?

Here's what I'm doing.

1. `./start-docker`
2. `node examples/consumerGroupMember.js`
3. wait till all consumers join the group
4. `docker-compose stop kafka`
5. wait a bit
6. `docker-compose start kafka`

[2017-02-10 19:27] joewood commented on #594
Check the docs here: https://kafka.apache.org/documentation/#brokerconfigs. The property is `compression.type`.

I can confirm, if this value is set to 'producer' it works fine. If it's set to `lz4` the message callback receives the message compressed. I suspect the server uses recursive message sets to do this, as per the protocol [doc](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To

[2017-02-10 20:17] buphmin commented on #592
Ah let me clarify.

For the consumerGroup there seems to be no issue with uncaught exceptions, I must have accidentally ran my consumer script which does throw uncaught exceptions.

So to reproduce uncaught exceptions:

Use code:
[code]

Start Kafka.

[code]

Start consumer:

[code]

Stop Kafka by hitting ctrl-c in Kafka server terminal.

Most of the time the consumer.js script will throw an uncau

[2017-02-10 20:52] hyperlink commented on #592
The uncaught exception is probably from the `offset` add a `error` handler to it and let me know.

[2017-02-10 22:36] buphmin commented on #592
Well there it is, adding an offset.on('error', cb) catches the previously uncaught error. So for every object that you use in the kafka-node library (or any code that uses error events) you should also include an on error listener to catch any errors it might throw.

So I guess really there is no bug, I just did not fully understand how to catch the errors in this instance. I will go ahead and clo

[2017-02-10 22:36] #592 closed

[2017-02-12 07:06] bripkens opened #595 "Support custom log implementations"
It would be great if this library could be instructed to use user-configurable logging mechanisms. Specifically, this would make integration into larger applications (and their log handling) easier. On top of this, some logging implementations can be turned on/off during the runtime of an application for improved debugging.

Thinking of this goal, the following would be great to have in `kafka-nod

[2017-02-12 07:45] nbwgl opened #596 "出现取不走消息的情况"
kafka0.9.0.0版本，使用kafka-node1.0.4，出现过两次取不走消息的情况了，使用的是consumer
            KeyedMessage = kafka.KeyedMessage,
            client = new kafka.Client(setting.kafka),
            producer = new Producer(client),
            consumer = new Consumer(
                    client,
                    [
                        { topic: setting.topic, partition: setting.partition }//, { topic: 'uu', partition

[2017-02-12 07:49] nbwgl commented on #596
这个问题非常困扰我，因为现在已经是正式运营的系统，如果还解决不了这个问题，只能重新考虑用其他语言重构系统了。

[2017-02-12 14:21] hyperlink commented on #595
That sounds great. Go for it!

[2017-02-12 20:43] #595 closed

[2017-02-12 20:51] hyperlink commented on #596
I noticed the group Id you used in your example `kafka-node-group` doesn't match the group id used in the ConsumerOffsetChecker which is `uu-node-group`.

[2017-02-13 00:53] nbwgl commented on #596
感谢回复，你指出的那个问题是因为我写测试程序的时候修改的，实际上我用uu-node-group也试过。也是一样。目前我暂时使用no-kafka代替，但是这个库没有kafka-node活跃，而且nodejs官方也没有推荐。

[2017-02-16 05:21] macurial opened #602 "possible EventEmitter memory leak detected."
在项目中是按照如下使用的
let kafka = require('kafka-node');
// kafkaport :9092
let config = sails.config.kafkaInfo;
let topic = sails.config.code;
let client = new kafka.Client(config.clientString);
let HighLevelProducer = new kafka.HighLevelProducer(client);
let obj = {};
client.on('connect', function () {
    client.loadMetadataForTopics([], function (error, results) {
        let metadata = _.get(results,

[2017-02-16 09:36] ntfs32 opened #603 "question: createTopics()"
why  I  get a undefined  createTopics callback ,but the topic create success.
the `auto.create.topics.enable` was true
what happend? thinks

[2017-02-16 15:25] hyperlink commented on #602
Create a new client instance (instead of sharing one with Producer) to get all the topics. As specified in the example use `once` a one time listener for the `connect` event.

[2017-02-16 15:30] hyperlink commented on #603
I don't understand what you are asking but you can try turning on [debug](https://github.com/SOHU-Co/kafka-node#how-do-i-debug-an-issue) mode and see what it says.

[2017-02-17 06:44] macurial commented on #602
I just use `once` for the `connect` event ,and it seemed not happen yet

[2017-02-17 09:45] lufivuahaitac opened #607 "fetchCommits always returns -1"
Calls to fetchCommits always returns -1 for all partitions  for all topics for all groups

    client = new kafka.Client(),
    offset = new kafka.Offset(client);
    offset.fetchCommits('groupId', [
        { topic: 'topicName', partition: 0 }
    ], function (err, data) {
      console.log(err);
      console.log(data);
    });

[2017-02-17 10:06] #607 closed

[2017-02-19 21:45] Industrial opened #608 "Can't connect to Kafka, kafkacat works"
Hi.

Using the code

[code]

I can't seem to connect to the running Kafka service.

When I run `kafkacat -b 127.0.1.1:9092 -t test -C` on the commandline it works. I get 5 test messages (that I put in using -P)

[2017-02-19 23:24] hyperlink commented on #608
You need to pass in the zookeeper host instead.

Sent from my iPhone

[2017-02-21 01:56] Industrial commented on #608
Okay

I've tried 0.0.0.0:2181, 127.0.0.1:2181, 127.0.1.1:2181 (hostname -i)

All with the same results.

[2017-02-21 05:02] #608 closed

[2017-02-22 16:37] #602 closed

[2017-02-22 16:38] #596 closed

[2017-02-22 20:16] nkurothe opened #609 "Get the list of Brokers"
I am trying to get the list of brokers after connecting to the client but when I do
client.getBrokers() it always returns {}.

I have set up zookeeper and broker on separate servers.
What am I doing wrong?

[2017-02-22 20:30] nkurothe commented on #609
Need to call client.getBrokers() inside client.on('connect');!

[2017-02-22 20:30] #609 closed

[2017-02-22 20:32] hyperlink commented on #609
Hmm, that method returns the client's current connected brokers if any and it's more of a private method. You can take a look at `client.brokerProfiles` object after `ready` has been emitted there are also other ways to get a list of brokers.

[2017-02-23 12:20] divgwd opened #611 "Pause on topics in consumer group"
Hi,
I wanted to know if there is a way to pause on the complete topic rather than a partition in consumergroup.
We have our kafka consumergroup which reads from topics and inserts it into my backend database ,In the eventuality that my database goes down i would want my consumer groups read to be paused till the database comes up after that resume from the latest commited offset.Is there a way to

[2017-02-23 16:32] hyperlink commented on #611
I don't know of any mechanism to do this in kafka since members of the group can only read from the partitions that were assigned by the leader.

Since each member in the group makes inserts into the database you could `close` the consumer group once you detect the database is disconnected and when it's reconnected again instantiate a new consumergroup one when the database comes back.

[2017-02-23 18:19] joewood opened #612 "Last Commits Not Being Sent to Broker"
I'm seeing a new issue since upgrading to 1.4.
A consumer group subscribing to a topic receives messages up to the final producer offset. The commit offsets are updated correctly on the broker. The issue seems to be that the final batch of messages are not committed - leaving a residual set of messages.  If I query the commits directly from the broker I see that the commits and offsets on the part

[2017-02-23 18:59] joewood commented on #612
I ran the consumers with logging on and I don't see any errors. The code path is correctly going down the v2 branch in autoCommit, calling `client.sendOffsetCommitV2Request`.

[2017-02-23 20:13] hyperlink commented on #612
Maybe caused by #568 ?  Does 1.3.1 have this issue?

[2017-02-23 21:06] joewood commented on #612
Yeah, 1.3.1 works fine.

[2017-02-23 21:12] joewood commented on #612
Is the issue here when the call to autoCommit after `updateOffsets` fails because there's already a commit in progress. The next call to updateOffsets may not update the offset for that partition and therefore never get flushed to the broker. The only real way of doing this properly is to keep the previously successfully written offset and compare the two.

[2017-02-24 15:54] #612 closed

[2017-02-26 08:38] sanjaynidoni opened #617 "How to control the concurrency of processing messages by ConsumerGroup"
I am using kafka-node ConsumerGroup to consume message from a topic. The ConsumerGroup when consumes a message requires calling an external API, which might even take a second to response. I wish to control consuming next message from the queue until I get the response from the API. I tried consumerGroup.commit() after receiving callback from API, but before that itself consumerGroup started proce

[2017-02-27 10:54] codeofsumit commented on #117
+1

[2017-02-27 20:36] bkim54 opened #619 "ability to have custom partitioner?"
can we inject our own partitioner into the HLP?

[2017-02-28 08:23] codeofsumit opened #620 "how to verify connection / debug connection problems?"
How can I debug connection problems?

This is my code but there is no console output at all. I'm sure the connection did not establish but I'd like some debug information.

[code]

[2017-02-28 10:05] wc188996 opened #621 "How to send msg to remote kafka?"
I have two kafka servers ,local and remote .
It was successful when send msg to local kafka, but error to the remote。
The error is “ Error: connect ECONNREFUSED 127.0.0.1:9092”
It seems that the param "conf" is invalid,

[code]

Thanks!

[2017-02-28 10:23] RainbowPony commented on #566
@hyperlink , can you please help, or perhaps point me to someone, who will be able to.
Right now I'm trying to use HighLevelConsumer and ConsumerGroup in order to read relatively small amounts of data from topic (~2.5k messages per second).
However, I am not able to consume them in a full amount: from 2.5k messages I'm able to read approximately a thousand per second.
I use statsd to monitor perfo

[2017-02-28 13:39] kobik opened #622 "Create topics sync returns before the topics are actually created"
Hi,

I use the following code in order to create a topic
[code]

The output looks like this:
[code]

As you can see, "Kafka topic(s) created" message is printed before the topic was actually created.
Is this a bug or the expected behavior?

Thanks

[2017-02-28 14:44] hyperlink commented on #619
I don't think this is possible without code change. Want to submit a PR?

[2017-02-28 14:49] hyperlink commented on #620
Hi. Is the address you're passing into the client a zookeeper host?

Unfortunately, if the module can't can't connect to zookeeper the zookeeper client will just silently fail and keep retrying. #117

[2017-02-28 14:51] hyperlink commented on #621
Looks like the remote one is connecting to localhost? double check you can connect to the remote broker using one of the kafka ./bin tools. Good luck!

[2017-02-28 15:20] hyperlink commented on #566
Sorry I haven't been much help! It sounds like you know more about the performance than I do. I also don't know anyone else working on the module besides me.

I was going to suggest tweaking `fetchMaxBytes` I noticed a larger fetchMaxBytes responds faster at a [certain point](https://travis-ci.org/SOHU-Co/kafka-node/jobs/205042825#L587).

Does your consumer have concurrency control?  Currently bot

[2017-02-28 15:26] hyperlink commented on #622
I see the wording in the readme is confusing about this but passing `false` should yield the callback right away.

[2017-02-28 17:42] bkim54 commented on #619
i was able to do it by overwriting the KeyedPartitioner prototype

`KeyedPartitioner.prototype["getPartition"] = getPartition;`

@hyperlink do you think you could approve this PR in DT? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/14911 I needed to declare the KeyedPartitioner in TS

[2017-02-28 19:49] hyperlink commented on #619
That seems dangerous. That would affect the implementation for all keyedPartitioner wouldn't it?  It should be easy to update the baseProducer's 'defaultPartitionerType' to accept a constructor function or just the `getPartition` implementation as a regular function.

[2017-02-28 20:01] kobik commented on #622
So how can I wait or verify that the topics were created?

[2017-02-28 21:33] hyperlink commented on #622
If you pass in true instead the callback will be called once it has verified all topics were created (or it ran out of retries).

[2017-03-01 03:09] wc188996 commented on #621
您好：
      感谢您的回答，我测试了我本地的kafka 可以和远端的kafka通信，但是通过Nodejs却不行，我仅仅想知道如何和远端的kafka进行连接，明明设置了连接远程的IP，代码启动后却连接本地的Kafka。

[2017-03-01 06:51] kobik commented on #622
Thanks

[2017-03-01 07:41] kobik opened #623 "How to verify that the consumer has connected successfully to Kafka server"
Hi,

I have experienced several cases in which the Kafka server takes some time to send back the metadata upon consumer connection.
I'd like to know if there is a way to know whether the consumer got the metadata, thus, it is ready for consumption.

[2017-03-01 12:43] codeofsumit commented on #620
that's very unfortunate :-/

[2017-03-01 12:52] codeofsumit opened #624 "Connect to kafka instead of zookeeper"
afaik the latest version of kafka requires a connection to kafka, not zookeeper. Is this supported by this library?

[2017-03-01 14:28] hyperlink commented on #624
We use this module with kafka 0.10.1.1 without any issues.

[2017-03-01 14:32] hyperlink commented on #623
Can you provide more detail on your use case? It's not clear why getting the metadata is required before consuming. The module will ask for metadata in order to fetch from the right leaders of a topic/partition but is taken care of for you by the module.

[2017-03-01 14:35] hyperlink commented on #620
but in practice it's not a big issue.  How often are you unsure of where your zookeeper host lives? If you're worried about failures you can also provide a [list of zookeeper hosts](https://github.com/alexguan/node-zookeeper-client#client-createclientconnectionstring-options) and it will attempt to connect to any of them.

[2017-03-01 19:25] kobik commented on #623
In the flow below you can see that it took some time until the consumer actually was ready to consume messages from Kafka.
So I'd like to let the user an indication that the consumer is actually ready for consumption, before it will start producing messages.

[code]

[2017-03-01 20:20] bkim54 commented on #619
it would affect all keyedPartitioners yes, but in one application that seems okay?

anyways above PR creates a new CustomPartitioner type

[2017-03-02 01:17] macurial opened #626 "kafka consumerGroup heartbeat error"
Kafka consumer only set the host param in the `options`,and It report this err in the console

[code]
#HERE is my code #
[code]
So why is this happened ,please?

[2017-03-02 03:00] hyperlink commented on #623
ConsumerGroup will emit `connect` event when it has successfully joined the group at the point it will start consuming from whichever topic/partition it was assigned.

[2017-03-02 03:05] hyperlink commented on #626
It doesn't look like those errors were emitted so they can be safely ignored. You have debug mode on you can see the error responses from the kafka coordinator the consumergroup should be able to handle these w/o issue.

[2017-03-02 06:58] kobik commented on #623
Excellent, thanks!

[2017-03-02 14:00] matesio opened #627 "highLevelConsumer issue"
/node_modules/kafka-node/lib/highLevelConsumer.js:514
  this.topicPayloads.forEach(p => {
                                ^
SyntaxError: Unexpected token >
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)
    at require (mod

[2017-03-02 14:16] hyperlink commented on #627
this module requires node version > 4.4.7

[2017-03-02 14:31] matesio commented on #627
thanks it worked

[2017-03-02 14:41] #627 closed

[2017-03-02 15:42] #624 closed

[2017-03-02 19:12] #623 closed

[2017-03-03 00:38] CharlesWall commented on #622
I think you updated this already right? can this be closed?

[2017-03-03 18:26] 0x530302 commented on #622
Not quite, the API in the Readme.md should be updated, since the wording is very confusing.

I suggest something like

instead of

At least that is how I interpret the source code of the createTopics method ;)

In addition, I think it's very confusing that the method throws an exception when one of the topics has an illegal name, only if async is set to `false` and the callback is called with that

[2017-03-04 08:58] RainbowPony commented on #566
@hyperlink, thank you for the effort, but async wasn't much help.
Just in case, may I know, which setup of kafka have you been using in your developement (do you use ssl protocol, or plaintext; how many partitions do you usualy have in your topic; do you use standalone kafka, or cluster). Also, would you be so kind to provide me with your preferrable configurations for your consumer (either HLC or

[2017-03-04 10:20] 0x530302 commented on #412
Do you use the same client for multiple consumers, or are you also calling `client.close(cb)`?

I had the same issue and found that `consumer.close` also calls `client.close`. Therefore when the client is closed before the consumer finished committing the offsets, the `write after end` error will occur.

[2017-03-06 08:46] zrwdopod opened #628 "sslOptions"
Could you show me a demo of options to be passed to the tls broker sockets.I have to use ssl,but i can not find any demo of this.
你是中国人哇，我用你这个库访问kafka，可是我们的kafka配置了ssl，但是在网上找不到ssl如何在kafak-node下的配置。不会用sslOptions。请指教

[2017-03-06 22:17] hyperlink commented on #628
See Nodejs [tls.connect](https://nodejs.org/api/tls.html#tls_tls_connect_options_callback) options.

[2017-03-06 22:17] #628 closed

[2017-03-06 22:31] hyperlink commented on #566
Hi @RainbowPony locally I'm using the docker setup defined in [docker-compose](https://github.com/SOHU-Co/kafka-node/blob/master/docker-compose.yml) file.

Our deployed environment is running a cluster of three kafka nodes on `0.10.1.1`. We're in the process of migrating from HLC to the ConsumerGroup. And I believe our consumers are all using the default configurations.

Regarding the project it h

[2017-03-07 01:17] macurial commented on #626
ok,thanks

[2017-03-07 14:33] #626 closed

[2017-03-07 15:58] krystianity commented on #617
Hi sanjaynidoni,

checkout: http://caolan.github.io/async/docs.html#queue

and as mentioned in the kafka-node readme: https://github.com/SOHU-Co/kafka-node#how-to-throttle-messages--control-the-concurrency-of-processing-messages

you can find an example implementation here: https://github.com/krystianity/node-sinek/blob/master/lib/kafka/Drainer.js#L138

[2017-03-08 09:51] divgwd opened #629 "Unable to read from the earliest available offset in ConsumerGroup"
Hi,
I have kafka holding system metrics data , then using consumer group to consume this data then insert it into influxdb,while doing this influxdb went down but the consumerGroup continued to consume data from kafka .Now, I want to start reading from an earlier offset than that is commited to zookeeper.I tried changing the option of fromOffset to 'earliest' but it started consuming from the late

[2017-03-08 15:09] hyperlink commented on #629
the setting `fromOffset` only applies when there's no initial offset in Kafka (ConsumerGroup stores this in Kafka while HighLevelConsumer stores offsets in zookeeper). This works the same way as kafka's `auto.offset.reset`.

You will need to set a new unique groupId if you want to `fromOffset` to apply again.

[2017-03-08 15:09] #629 closed

[2017-03-08 17:12] ulfbright opened #630 "Error: self signed certificate in certificate chain (ConsumerGroup)"
I have a secure Kafka cluster and am trying the following code (and am getting the above mentioned error):

<pre>
let params = {
    host: "endpoint:2181",
    zk: [
        undefined,
        undefined,
        undefined,
        {
            rejectUnauthorized: false
        }
    ],
    batch: undefined,
    ssl: true,
    groupId: "someGroup",
    sessionTimeout: 15000,
    protocol: ["roundr

[2017-03-08 17:43] #630 closed

[2017-03-10 16:42] krystianity opened #631 "Wrong offset is being committed, messages are missing"
Hi there,
we are currently having problems running "kafka-node" in our production system.

**Info**:
- Kafka-Broker Version 0.10.1
- Node.js Version 7.4.0
- kafka-node Version: 1.5.0
- using ConsumerGroups
- using a ConsumerGroup per topic
- 3 topics with ~ 4,5 million messages each on 30 partitions each
- Java and Scala consumer implementations have no problems consuming these topics

**Implement

[2017-03-10 16:44] krystianity commented on #631
@holgeradam

[2017-03-10 17:37] hyperlink commented on #631
Hi @krystianity a low `fetchMaxBytes` could cause a consumer to [hang](https://github.com/SOHU-Co/kafka-node/#highlevelconsumer-does-not-consume-on-all-partitions).

[2017-03-10 18:33] krystianity commented on #631
Hi @hyperlink thanks for the quick reply, we have tried different  settings for "fetchMaxBytes" already, ranging from 5 KB to 10 MB. Fun-fact: reducing the size results in faster message consumption.

[2017-03-10 19:03] hyperlink commented on #631
I'll work on a test to consume large amount of messages.

[2017-03-10 19:33] krystianity commented on #631
@hyperlink okay cool, thanks for looking into this. I will try to check our Kafka Logs in a few minutes, we see a few logs: "Connection Close" related to "broken OffsetCommitRequest" but I have to make sure they are coming from my client.

[2017-03-10 19:42] holgeradam commented on #631
When using autoCommit: true in this scenario the consumer seems to commit out of order and very high early. Like committing half of the partitions nearly completed and half set to zero while the consumer has received messages evenly distributed over all partitions. Looking forward to a test for that scenario. Thanks!

[2017-03-10 21:48] krystianity commented on #631
Okay, so I have already identified a few of these kafka errors are caused by the client:

`[2017-03-10 20:56:01,395] ERROR Closing socket for x.x.x.x:9092-x.x.x.x:46674 because of error (kafka.network.Processor)
org.apache.kafka.common.errors.InvalidRequestException: Error getting request for apiKey: 8 and apiVersion: 2
Caused by: org.apache.kafka.common.protocol.types.SchemaException: Error readi

[2017-03-10 22:02] hyperlink commented on #631
I wrote a simple test single consumer against a single broker, and partition. I published 2.1 million messages and was able to consume them without an issue. Ran it several times.
 https://github.com/SOHU-Co/kafka-node/commit/283e6a88492168ed86993b683e5fc0868a469e26

If you're interested in running it checkout the [large-message-test](https://github.com/SOHU-Co/kafka-node/commits/large-message-tes

[2017-03-10 22:20] krystianity commented on #631
What I have found out though is that the client always receives the exact same offset in every message, they just differ by partition. Meaning that even if i start a fresh consumer-group, the very first message I get on all of the 30 partitions is a number like: "135988" for partition: "0" or "138391" for partition "1". And they do not change; even after consuming 500k messages a message on partit

[2017-03-10 22:24] krystianity commented on #631
@hyperlink for this use-case we are only running a single consumer. I will try out your branch, could it make a difference having 30 partitions?

[2017-03-10 22:45] krystianity commented on #631
I can confirm that [large-message-test](https://github.com/SOHU-Co/kafka-node/commits/large-message-test) is successfully running on my workstation using a docker kafka broker @ version 0.10.0.1, although I the broker tells me there is still a lag of "18,921" messages on for the test consumer group, it has received all 2.1 mio messages. I will get some sleep and take another look at this tomorrow.

[2017-03-13 14:16] krystianity commented on #631
@hyperlink Okay, so this Problem is still on. As mentioned above I can confirm that your test is running on my machine as well + I have added a few things to check if having 30 partitions changes this behavior - and it did not, it just made the test a lot faster ;) (as expected).

However I discovered more strange things:

1. Resetting the offset for a consumer-group on a single topic for all part

[2017-03-13 14:50] krystianity commented on #631
Our latest guess is that the offset trouble is caused by keyed partitioners.

[2017-03-13 15:07] hyperlink commented on #631
@krystianity updating the offsets in the consumer changes the internal offset state of the consumer (which offsets to fetch next). The offset is automatically advanced after every fetch so changing this manually can lead to consuming duplicate messages. This could explain the high lag.

I think to do this correctly you will need to keep track of offsets outside of the consumer and call `sendOffset

[2017-03-13 15:17] #621 closed

[2017-03-13 15:19] krystianity commented on #631
I dont think I really understood your answer yet, how would you go about making a consumer start consuming from the earliest offset, regardless of his current offset/lag state?

[2017-03-13 15:22] krystianity commented on #631
Another thing we have detected while investigating our stopping consumers is that they always stop at the same amount of consumed messages:

`{
    "total": 561539,
    "partitions": {
        "0": 24243,
        "1": 24526,
        "2": 7164,
        "3": 7364,
        "4": 24884,
        "5": 24295,
        "6": 24158,
        "7": 23835,
        "8": 24632,
        "9": 24202,
        "10": 710

[2017-03-13 15:24] krystianity commented on #631
(autoCommit or our own custom commits are not active in these tests, we are not committing or setting offsets at all currently.)

[2017-03-13 15:33] hyperlink commented on #631
ok, I think there's several different scenarios being discussed and it's a bit confusing.

My last message was regarding manually committing instead of using `autoCommit:true`.  In this case don't call `.setOffset` this could lead to issues.

The other scenario is to always consume from the earliest available. Then using `fromOffset: 'earliest'` with a new groupId seems reasonable.

Then there's t

[2017-03-13 18:42] hyperlink commented on #631
@krystianity here's the updated test I wrote earlier to consume from 30 partitions w/ `autoCommit` off. I ran it several times without issues.

I ran the test several times in a row (test need to be adjusted)  without resetting the kafka container was able to consume up to 6.3 million messages in 527 seconds.

## Setup topic

Kafka bin tools

[code]

## Test code

`./test/large-cs-test.js`

[code]

[2017-03-13 22:05] krystianity commented on #631
@hyperlink thanks again for your support and attempts to ensure the trust in this lib, we were able to identify the reason for the problems. And I am happy to sum them up, for anyone else who might be stuck in a similar situation in the future.

1. using 1 or 30 partitions does not matter, having a single instance or a cluster does not matter either, we ran the large-message-test against all kinds

[2017-03-13 22:05] #631 closed

[2017-03-14 10:42] RainbowPony commented on #566
@hyperlink, hello again!
Could you please do me a favour: whenever you have time, would you mind running your test with consumption of 20k messages on ssl-protected kafka-topic and telling me, how long did it take?

And thank you for the warm welcome, I'll give it a spin over a weekend.)

[2017-03-16 16:20] zealotds opened #632 "ConsumerGroup.addTopics TypeError"
## Stack

node_modules/kafka-node/lib/protocol/protocol.js:491
    payloads[topic].forEach(function (p) {
                    ^
TypeError: payloads[topic].forEach is not a function

## More info

kafka-node 1.5.0
kafka 0.10.2.0

[2017-03-16 16:32] hyperlink commented on #632
Could you provide some sample code to reproduce this issue? Thanks.

[2017-03-17 02:04] zealotds commented on #632
[code]

[2017-03-17 02:14] zealotds commented on #632
p.s. if I call the addTopics with "topic" string instead of [topic] array like:
[code]
The call would success but returns error:
[code]
So the topic string here seems be treated like an array of single characters.

[2017-03-17 04:05] Sumankafka opened #634 "How to interact with Apache Kafka from IBM APIconnect?"
I am trying to interact with Apache Kafka from IBM APIConnect toolkit. I have installed Kafka Connector provided in DataSource tab of API Connect and created a Blank Model referring to the Kafka DataBase and placed the below code in /common/model/Kafka-Model.js.Also I have the Apache Kafka running in my local.
'use strict';
var kafka = require('kafka-node');
var connector = require('loopback-conne

[2017-03-17 09:00] Infra-dev commented on #117
+1

[2017-03-20 15:51] phreed commented on #619
@bkim54
Is there are reason you made the update in `master` rather than `@types`?
Unless things have changed, that is what is needed in order to get `npm install @types/kafka-node` to work correctly.

[2017-03-20 17:15] #619 closed

[2017-03-26 18:48] mvmalderen commented on #223
I'm experiencing the same problem. When a cluster node fails and when kafka-node was using that node, then it keeps trying to reconnect to that one node and ignores other cluster nodes.
Multiple errors of the following type are emitted in a periodic fashion (about one per second), each time with the same Kafka broker address and port number.
[code]
It would be awesome if kafka-node would automatic

[2017-03-29 03:17] clouds8 opened #639 "how to create a topic with more partitions or replicas"
If I need to create a topic with 3 partitions, how can I use the create topic method ?
I can only find the `createTopics(topics, async, cb)`  in the index page example.
It means I can only create topic with 1 partition?

[2017-03-29 13:15] lightswitch05 commented on #420
I saw 0.6.0 was released and was excited this might have been complete, but it doesn't look like its in 0.6.0 :(

[2017-03-30 08:05] kobik opened #640 "kafka client fails to connect when the host name can't be resolved"
Hi,
I have an issue connecting to kafka, when running the server locally on my mac.
I know that there is some kind of an issue in resolving host names in my networ.
So I'm passing to the client zookeeper's ip address and not the host name, still for some reason the client tries to connect to the kafka server using the host name.

[code]

[2017-03-30 17:39] hyperlink commented on #640
I would check the broker config. The (advertised) hostname is probably still a hostname and not an ip address.

[2017-03-30 17:41] hyperlink commented on #420
Yes, sorry I wasn't able to implement this... PRs Welcome!

[2017-03-30 17:44] hyperlink commented on #639
`createTopic` as it's currently implemented relies on the default topic creation settings specified in your broker config. If this is set to three partitions it will create three I believe default is 1 partition.

The latest protocol has a more robust create topic API if someone is willing to take a stab at implementing it.

[2017-03-31 05:24] yangguoyk2015 commented on #209
Same issue to me when broker get restarted.

[2017-03-31 11:06] yangguoyk2015 commented on #245
I think this fix is only for HighLevelConsumer,  now, we are using the ConsumerGroup, seems the same error occurs again.

@estliberitas @hyperlink

[2017-03-31 13:24] hyperlink commented on #245
For a period of time both Consumers could emit these types of errors while the broker elects a new leader and that information is propagated to the consumers. Eventually the consumers will get a `brokersChanged` event and recover.

[2017-03-31 20:52] paragradke opened #641 "ERROR Error when sending message to topic testKL with key org.apache.kafka.common.errors.UnknownTopicOrPartitionException"
## Questions?
I am getting above exception while working with 3 node kafka cluster deployed on kubernetes. This error happens when I scale down the kafka nodes. I configured it on SSL protocol

## Bug Report

### Environment
Kuberenetes, deployed 3 node kafka cluster with 3 node zookeeper cluster
* Kuberenetes version: 1.5
* Zookeeper docker image: gcr.io/google_samples/k8szk:v1
* Kafka version:
K

[2017-03-31 21:00] #641 closed

[2017-03-31 21:01] paragradke commented on #641
Sorry created in the wrong project.

[2017-04-01 06:16] arainyu opened #642 "just one node instance consume data when node cluster use the consumerGroup"
## Questions?

* Check the [Troubleshooting / FAQ](https://github.com/SOHU-Co/kafka-node#troubleshooting--faq) ?
* Search the [issues](https://github.com/SOHU-Co/kafka-node/issues) ?

## Bug Report
Does the module support node cluster?

1. start two node instance for consumer, node cluster.
2. one instance begin consume, another one is stop.

### Environment

* Node version: v7.2.0
* Kafka-node ve